[2014-08-14 15:14] bitwalker opened #5 "Relative date parser"
Given a relative statement about time, parse a date/time from it. Examples:

- "two days ago"
- "three hours past noon on friday"
- "7 minutes ago"
- "3:00pm on Monday"

And the list goes on. Need to establish what valid phrases can be composed of, and write a new tokenizer for these relative date strings.

[2014-08-14 15:22] bitwalker opened #6 "Auto-generate TimezoneInfos from Olson tzdata"
Right now, TimezoneInfos are generated from a list of tuples which were generated from this year's tzdata. This is not maintainable moving forward. My plan for fixing/improving this:

- [x] Write a tzdata parser for the Olson timezone database
- [x] Write a mix task which downloads the most current tzdata, parses it and converts to Elixir terms which are then stored in `priv/tzdata/database.exs`.

[2014-08-18 19:25] bitwalker opened #9 "API Review"
Timex has undergone a great deal of change over the past few months. Before we can start thinking about the possibility of merging it into the standard library, I think it's important to take a step back and think about the API, and make sure it meets the following requirements:

- [x] User guide/intro documentation
- [x] Fully documented (`@moduledoc`, `@doc`, `@spec`)
- [x] Fully tested (a good

[2014-08-18 19:31] bitwalker opened #10 "Updated documentation"
The Timex API's surface area has grown to a large enough size where the README is no longer useful. Here's my plan for fixing this:

- [ ] Set up Timex in Read The Docs
- [ ] Make sure all documentation in the codebase is up to date (doc attributes, type specs)
- [ ] Create a mix task to autogenerate the RTD docs from API documentation.

This should make navigating the API a lot nicer, and a lot e

[2014-09-14 15:59] pma opened #13 "Default ISOz parser does not validate delimeters"
While trying to use the output of DateFormat.parse to validate some user input I noticed it accepts this

[code]

I was expecting a parse error since the date string does not follow the IS8601 format "2014-09-14T15:34:45Z"

Reporting in case it's a bug

[2014-09-27 21:10] nhu313 opened #16 "GMT minus sign is ignored"
When I run this:

[code]

I get this

[code]

The timezone should be GMT-7.

[code]

[2014-10-22 12:43] hutch opened #18 "Doesn't seem to be a way to create a Date with ms or us set"
I need a timestamp (ISO or ISOz) that shows fractional seconds. I can get this if I set the :ms field in the a Date after I've created it using Date.now(). I've put some code at the bottom that provides what I need.

Date.now() seems to be using :calendar.universal_time() which does not have fractional seconds. I can't find any calls to :erlang.now() in Timex.

I see that Timex.Date pretty much ig

[2014-11-23 16:27] nmnowak opened #23 "No specs in time module"
The date module seems to be really well speced out but I don't see any specs in the time module. Is there any reason for this or is it just something that is waiting to be done, maybe by me?

[2014-11-26 19:33] ideal-knee opened #24 "`Date.to_secs` does not take timezone into account."
Example symptom:

[code]

Current implementation of `Date.to_secs` (https://github.com/bitwalker/timex/blob/b7b7a79aa1c20cab94e08365d772002038fb4480/lib/date/date.ex#L377-L379) is not handling timezone before sending off to Erlang.

[2014-12-23 13:59] jschoch opened #27 "seg fault"
use Timex
ts = "2014-12-23T13:29:50+0000"
date = DateFormat.parse(ts,"{ISO}")
DateFormat.format!(Date.shift(date,days: 1),"{ISO}")

*** stack smashing detected ***: /usr/local/lib/erlang/erts-6.2/bin/beam terminated
   Segmentation fault (core dumped)

[2014-12-28 22:39] mjaric opened #28 "Possible bug in local timezone lookups (Windows)"
This is rather feature request than a bug :)

If I include this as dependency in my project under Windows Operating system I'm getting error
" Unsupported operating system!"

** (exit) an exception was raised:
    ** (RuntimeError) Unsupported operating system!
        lib/timezone/timezone_local.ex:29: Timex.Timezone.Local.lookup/1
        lib/timezone/timezone.ex:656: Timex.Timezone.local/0

[2015-01-05 18:43] bbense commented on #24
Looking at the code this probably is also a bug in to_days, although you'd need to look a lot harder to find a specific example.

[2015-01-06 18:45] bbense commented on #24
I made a first pass at this problem by writing a test that fails and a simple solution, however it seems to be causing problems in other code. Date.to_secs is fundamental to many other functions and I may be running into chicken and egg issues.

The code is here if you want to look, will keep plugging away as I have time.

https://github.com/bbense/timex/tree/Date_to_secs_bug_24

[2015-01-08 05:11] X4lldux commented on #23
Plus there are some missing type information in some modules.

[2015-01-09 19:45] bbense commented on #24
This patch resolves the bug.

https://github.com/bitwalker/timex/pull/32

No changes to the Timezone code were required, but other methods in Date required some reworking to adapt to the changes in to_secs.

[2015-01-10 00:28] bitwalker commented on #24
Merged and published as part of the 0.13.3 release. Thanks! Do you happen to know which functions specifically required rework? I can dig through and find out, but if you know offhand, then I can open a new issue to track that.

[2015-01-10 00:29] bitwalker commented on #28
Interesting, it should work on Windows. That error pops up if it's unable to find the local timezone. What version of Windows are you running? I can test on my work machine when I get a chance.

[2015-01-10 00:37] bbense commented on #24
Date.shift and Date.compare

On Fri, Jan 9, 2015 at 4:28 PM, Paul Schoenfelder <notifications@github.com>
wrote:

[2015-01-10 00:42] bbense commented on #24
Oh and Date.diff

On Fri, Jan 9, 2015 at 4:37 PM, Booker Bense <bbense@gmail.com> wrote:

[2015-01-10 00:56] bitwalker commented on #24
@bbense Excellent, thank you sir! Might be a good place to start if you are looking for another issue to tackle. I'll cc you on it when I create it, you can decide whether you want to work that one or not.

[2015-01-10 00:59] bitwalker opened #33 "Some Date.* functions require updating after recent fixes"
`Date.shift`, `Date.compare`, and `Date.diff` all require review/rework after #32 was merged. Review the PR and #24 for details.

/cc @bbense

[2015-01-10 00:59] bitwalker commented on #10
Docs have been implemented as of the last release, and are now published via hex.

[2015-01-10 00:59] #10 closed

[2015-01-10 01:02] #24 closed

[2015-01-10 01:24] bbense commented on #33
Actually, the PR for #24 include changes to Date.compare and Date.shift,
based on the fixing the bug in Date.to_secs.

These changes pass all the current tests.

On Fri, Jan 9, 2015 at 4:59 PM, Paul Schoenfelder <notifications@github.com>
wrote:

[2015-01-10 01:30] bitwalker commented on #33
So just `Date.diff` requires review?

[2015-01-10 09:20] mjaric commented on #28
It is Windows 8.1. I took some time to identify what is issue and apparently erlang is returning tuple {:win32, :nt} instead of {:nt}. So OS detection do not work for Win 8.1. Below is case wich is throwing exception
[code]
But, even if fix it it opens more issues, which could be due erlan/elixir version.

Let say I change above case and add one above _
`{:win32, :nt}    -> localtz(:win, date)`

t

[2015-01-10 09:42] mjaric commented on #28
Update to above

I used Mix task to run code. It is something like this

[code]

Now, when I change the last part I mentioned in localtz method to this
[code]

I can get time, but timezone info still has error. If I inspect resulting time, I'm getting

[code]

Which causing all formatting functions to fail.

I hope this helps. I'm realy realy new to elixir and erlang so I will avoid this time to m

[2015-01-10 17:43] bbense commented on #33
Sorry, I'm being a bit sloppy with my language and it's causing confusion.

As far as I know, there are no functions that need reworking currently.
Changing Date.to_secs to correctly
account for timezone caused both Date.compare and Date.shift to need
reworking since they "relied"
on the incorrect behavoir of Date.to_secs. These functions now pass all
current tests.

I misread my patch, I did not

[2015-01-12 17:55] bbense commented on #33
On thing I noticed is that many of the tests do not have versions with timezones other than utc. I think the best way forward would be to add timezone version tests of all the Date functions.

[2015-01-14 19:04] bitwalker commented on #33
Excellent point. So to amend the TODO for this, we probably just need to review usages to ensure it's being used properly. I would guess it's entirely possible the test coverage misses some gaps, but we'll have to probably wait for bug reports before we know what those are (if they are present).

[2015-01-14 19:09] bitwalker commented on #28
Yeah, there is a map which converts Windows timezone names to Olson timezone names, you have to run the result of the lookup through that conversion before you'll be able to get the actual TimezoneInfo struct for the zone. There should be some code already there which does this, you'll have to consult the source though, I don't recall the specifics off the top of my head.

I've been out of town th

[2015-01-14 23:27] alco opened #35 "Consider making unit names more descriptive"
The gist of the proposal is to rename time units used in `diff()`, `convert()`, and other functions to have more descriptive names:

[code]

This will bring more consistency with the other units (`hours`, `days`, etc.). In the long term, having descriptive names trumps the convenience of having short ones because there is no one true way to shorten them (to my knowledge, at least).

[2015-01-16 18:38] bitwalker commented on #35
If anyone is watching this thread, I'd like to get feedback on this change. It would affect a lot of existing code, so I want to make sure there is general buy in from the community before we start work on it.

I agree with @alco on this myself. Anyone have any thoughts to share, or think it shouldn't be done? The change would be made prior to 1.0 if we end up doing it.

[2015-02-24 19:28] NhanHo commented on #6
With this approach, it seems like the tzdata is only updated on compilation time, or am I mistaken?

[2015-02-25 20:04] lau opened #38 "Timezone handling broken"
Just a heads up: The current way time zone handling is done, means it is impossible for time zone handling to be correct for all time zones. At best it will be correct for time zones that have not changed and in a while and only for dates that are newer than the last change.

Also for instance Morocco susspends DST in the middle of summer, which the TimezoneInfo does not seem to take into account?

[2015-02-26 17:32] bitwalker commented on #38
Yes I'm aware, I've addressed timezone handling from scratch in my local branch, and I'm about 95% done, I just haven't had time the past month to finish it up. I'm going to be working on it this weekend, so hopefully I can finish up  the remaining loose ends by the end of the weekend.

[2015-02-26 17:51] bitwalker commented on #6
That's correct, there is a mix task which can be used to update it on demand as well, but it does require re-compilation of timex.

[2015-02-26 22:30] lau commented on #38
I have just released a tzdata package: https://hex.pm/packages/tzdata
You can use that if you want as a source for all of the up-to-date tz data.

[2015-03-19 23:50] apeckham opened #39 "segfault when 3rd param is missing when using Task.async"
I get a segfault when I forgot to include the 3rd parameter (:strftime) of DateFormat.format!

[code]

[code]

On IRC, @ericmj says timex should unwrap [message: message] here: https://github.com/bitwalker/timex/blob/master/lib/dateformat/format_error.ex#L9

Elixir 1.0.3
Erlang/OTP 17 [erts-6.3.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

[2015-03-19 23:51] bitwalker commented on #39
Right on, thanks for reporting, I'll take a stab at fixing this up tonight and push out a fix.

[2015-03-20 21:12] #39 closed

[2015-03-20 21:13] bitwalker commented on #39
Pushed this fix plus some others in a new release, 0.13.4. Thanks again for the report!

[2015-03-20 21:13] #33 closed

[2015-03-20 21:14] bitwalker commented on #27
Fixed as part of the commit for #39

[2015-03-20 21:14] #27 closed

[2015-03-25 14:55] OnorioCatenacci commented on #28
Hi Paul,

I was doing a bit of digging on this issue too.  I haven't come up with a fix but I did find some stuff that I hoped might help.

  # Get the locally configured timezone on Windows systems
  @local_tz_key 'SYSTEM\\CurrentControlSet\\Control\\TimeZoneInformation'
  @sys_tz_key   'SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Time Zones'
  # We ignore the reference date here, since ther

[2015-03-26 11:21] bitwalker commented on #28
Hey guys, I'm out of the country until the 5th of April. I can dive into this then, or if you want to produce a PR that I can merge in the meantime, I can do that as soon as one is submitted. I'm putting the last few bug fixes into my new timezone code, so I'll address this there as well.

[2015-03-26 11:47] OnorioCatenacci commented on #28
I've got an answer on the issue I was seeing so I may be able to make some progress on this.  If I make any headway I'll send along a PR if it's appropriate.

[2015-03-31 05:13] shankardevy opened #42 "Week index in a month for a given date"
I am working on a project, where I needed week index in the context of the month and not year.  I ended up writing my own private function like below

[code]

are you interested in getting this into the library? If so, I can provide a PR.

[2015-05-08 03:54] LeeroyDing opened #43 "Wrong timezone for Asia/Shanghai"
[code]
While I'm actually in Asia/Shanghai TZ (GMT +8), but the "full_name" on local timezone is "America/Bahia_Banderas".

[2015-05-11 14:08] LeeroyDing commented on #38
Need any help on this? #43 would probably get fixed by this rewrite.

[2015-05-11 19:51] bitwalker commented on #38
@LeeroyDing If you'd like to take a stab that would be great, I've been up to my eyeballs in other work and I hate delaying such an important change.

[2015-05-28 08:28] lerencao opened #44 "wrong local date convert"
[code]

I got stuck here...

[2015-06-09 08:52] rizafahmi opened #46 "Convert Date From Unixtime"
I have `epoch_time` taken from RethinkDB I believe that's unixtime format, for example: `1423155600`. How to convert it into Date format using Timex?

[2015-06-09 12:29] obrok opened #47 "Uniform parsing of "Z" and "+0000" timezones"
Currently there seems to be no way to uniformly parse an ISO 8601 string. Additionally some valid ways of representing timezone offsets are rejected. If I understand correctly the following assertions should be true but all of them give a parse error.

    date1 = Date.from({{2014, 8, 14}, {12, 34, 33}})
    assert { :ok, ^date1 } = parse("2014-08-14T12:34:33Z", "{ISO}")
    assert { :ok, ^date1 }

[2015-06-10 10:18] hamann opened #48 "milliseconds get lost when converting date to different timezone"
[code]

[2015-06-12 08:41] thestonefox opened #50 "Possible to extract an tuple with the datetime from Timex?"
Is it possible given a Timex call to return the created data-time as a tuple?

e.g.

Date.from({{2015,06,12},{09:00:00}})
|> Date.as_tuple()

would export: {{2015,06,12},{09:00:00}}

(reason is I want to do more processing on the data using Timex but then get a tuple at the end)

[2015-06-17 15:14] bitwalker commented on #50
DateTime's are structs, which you can pattern match on easily, is there a particular reason you wish to have a tuple?

[2015-06-17 15:14] #48 closed

[2015-06-17 15:19] thestonefox commented on #50
I want to create an Ecto.DateTime which can be done using Ecto.DateTime.from_erl(args) and the args are a tuple of the date and time.

[2015-06-17 16:27] bitwalker commented on #50
Ah ok, well you can use `DateConvert.to_erlang_datetime(datetime)` which will produce an Erlang datetime tuple.

[2015-06-17 16:31] thestonefox commented on #50
Cool, thanks very much for the info! :)

[2015-06-18 15:26] bitwalker commented on #50
No problem :)

[2015-06-18 15:26] #50 closed

[2015-06-18 15:28] bitwalker commented on #47
I have this fixed on another branch actually, I'll merge that ASAP :)

[2015-06-19 05:14] bitwalker commented on #46
Use `Date.from_secs(secs, :epoch)` :)

[2015-06-19 05:17] bitwalker commented on #43
This should be fixed in master now. Could you verify?

[2015-06-19 05:18] bitwalker commented on #44
This should be fixed in master now, could you verify?

[2015-06-19 05:19] bitwalker commented on #42
Sure! Could we call this function `week_of_month`?

[2015-06-19 05:20] bitwalker commented on #38
@lau I've merged my changes integrating timex with your tzdata library (great work on that!). @LeeroyDing I've updated #43, but could you verify that master resolves your issues?

[2015-06-19 05:21] #6 closed

[2015-06-19 05:21] bitwalker commented on #16
This should be fixed in master now.

[2015-06-19 05:21] #16 closed

[2015-06-19 05:21] #18 closed

[2015-06-19 08:52] LeeroyDing commented on #43
Fix confirmed. Thank you.

[2015-06-19 08:52] #43 closed

[2015-06-22 13:19] lerencao commented on #44
yeah, fixed now, thx.

[2015-06-22 13:19] #44 closed

[2015-06-23 02:56] bitwalker commented on #47
Fixed in a8a7885

[2015-06-23 02:56] #46 closed

[2015-06-23 02:56] #38 closed

[2015-06-23 04:38] #13 closed

[2015-06-23 04:40] bitwalker commented on #35
Anyone have thoughts on this?

[2015-06-23 05:03] bitwalker commented on #5
I'm closing this for now, as I see it being implemented as a third-party plugin for timex at this time, but if anyone is interested in it, let me know and I'll maybe play around with getting it started.

[2015-06-23 05:03] #5 closed

[2015-06-23 05:05] bitwalker commented on #23
I've manually merged @gabrielelana's PR adding some types/specs, so I'll close this for now, as fleshing out documentation is part of #9

[2015-06-23 05:05] #23 closed

[2015-06-23 15:18] KlausTrainer opened #51 "Parsing a RFC1123z date string is not properly converting the input date to UTC"
The example from the [Parsing Dates](https://github.com/bitwalker/timex/tree/master#parsing-dates) section in the README doesn't work as expected.  See the following steps to reproduce:

[code]

[2015-06-23 15:35] bitwalker commented on #51
There is an issue here, but the README also has a bug, as the parsing of that date will not be mapped to the `Europe/Athens` timezone (since all it contains is an offset, the target timezone should be `Etc/GMT-2`). I'm looking into why the offset is not resulting in the latter timezone being applied to the parsed date now. Thanks!

[2015-06-23 15:37] bitwalker commented on #51
Correction, it looks like the bug here is that it's parsing the date as UTC because of the *z pattern, but it should be parsing it into the +0200 timezone then shifting to UTC. I think I know what broke this.

[2015-06-23 15:47] #51 closed

[2015-06-23 15:48] bitwalker commented on #51
Ok found the problem and it's been fixed (and the README updated) in master. A new release was just pushed as well (0.14.2) containing the fix.

[2015-06-23 15:49] KlausTrainer commented on #51
Great! Thank you very much :)

[2015-06-23 16:14] bitwalker commented on #28
Could you folks pull master and test on your Windows boxen? I've tested on a Windows 10 machine, but I don't have anything older handy, and I'd like to confirm that things are working properly before closing this issue. Thanks!

[2015-06-23 16:35] OnorioCatenacci commented on #28
Yes I will try this out.
On Jun 23, 2015 12:14 PM, "Paul Schoenfelder" <notifications@github.com>
wrote:

[2015-06-23 16:47] OnorioCatenacci commented on #28
Just tried it on my Win 8.1 box.  All the test ran without a failure.   I also tried out Timex within an iex session and everything seems to be working as expected.

[2015-06-23 17:09] bitwalker commented on #28
@OnorioCatenacci That's great to hear, thanks for taking the time to test it!

Hopefully someone can test on a Win7 box, but if not at least we know we're in a good place going forward.

[2015-06-23 17:36] hamann opened #52 "Parsing date string raises an exception since 0.14.1"
before 0.14.1 (including 0.14.0)
[code]

since 0.14.1

[code]

We're retrieving those values from a database which can't be parsed with newer versions

[2015-06-23 17:56] hamann commented on #52
Seems like https://github.com/bitwalker/timex/commit/e4767a85197a6234a1d29b7e563660819a018af5 is introducing that behaviour

[2015-06-23 18:29] bitwalker commented on #52
I'll take a look ASAP

[2015-06-23 18:37] bitwalker commented on #52
@hamann This is because your input string is not a valid ISO 8601 string. It is permitted to omit the `T` delimiter between the date and time, but in the spec this is by mutual agreement. The `{ISO}` token is there as a shortcut for `"{ISOdate}T{ISOtime}{Z}"`, so in your case you should use `"{ISOdate} {ISOtime}{Z}"` to parse the given input string.

Parsing datetime strings is more strict now, as

[2015-06-24 09:05] hamann commented on #52
@bitwalker thanks for clarification! Didn't know that those shortcut exist and it works as suggested.
Just one small wish - please don't make backward incompatible changes in patch version updates ;)

[2015-06-24 13:31] bitwalker commented on #52
@hamann Definitely, sorry about that, I try to be careful about following semver guidance, but I slipped up on this one. I'm in the process of revamping all the Timex documentation too, so the formatting/parsing stuff in the future should be a lot more clear.

[2015-06-24 21:27] #52 closed

[2015-06-24 21:29] bitwalker commented on #28
I'm going to close this for now in favor of more specific issues as they come up. If anyone is still encountering issues with local timezone lookups on Windows, please open a new issue with the details.

[2015-06-24 21:29] #28 closed

[2015-06-25 09:08] ewildgoose opened #54 "Feature: Automatic integration with Ecto, as per calecto"
I feel tied between "calendar" and "timex".  I need to parse a datestring for which timex seems to have far stronger support. But I then wish to write these to a database, where the automatic integration of calendar with ecto is neat (calecto project).

Could you consider adding an equivalent to calecto (timecto...). It appears to boil down to integrating the ecto protocol?

Thanks for listening!

[2015-06-25 13:07] bitwalker commented on #54
@ewildgoose I was just thinking about Ecto integration yesterday, so I'll bump this up in priority a bit and take a look today :)

[2015-06-25 14:45] b0oh opened #55 "DateFormat.parse with RFC1123z problem"
Erlang 17.5
Elixir 1.0.4
Timex 0.14.3

If I take example from DateFormat file for RFC 1123 format
`Timex.DateFormat.parse("Tue, 05 Mar 2013 23:25:19 +0200", "{RFC1123z}")` everything works fine but if I change `+0200` to `+0100` like `Timex.DateFormat.parse("Tue, 05 Mar 2013 23:25:19 +0100", "{RFC1123z}")` I got an error:
[code]

[2015-06-25 16:22] bitwalker commented on #55
I'll take a look ASAP!

[2015-06-25 19:53] bitwalker commented on #54
@ewildgoose I've pushed a plugin to hex.pm for Ecto, called `timex_ecto`. Would you be willing to test it out and let me know how it can be improved? The repo and docs are located [here](https://github.com/bitwalker/timex_ecto).

[2015-06-25 20:23] #55 closed

[2015-06-25 20:25] bitwalker commented on #55
@b0oh I've also pushed a new release `0.15.0` with this fix amongst many others.

[2015-06-25 20:27] b0oh commented on #55
@bitwalker thanks!

[2015-06-25 21:44] vsmart opened #56 "Help with formatting a time stamp?"
Hi,
How would I go about creating an ISOz timestamp without miliseconds from the current time? (like this: ` 2015-06-24T05:04:13Z`).
You give this example in the readme:
[code]

[2015-06-25 22:18] bitwalker commented on #56
You'll have to use the individual tokens, so in this case it would be:

[code]

This effectively duplicates what the `{ISOz}` shortcut directive does, but does not print fractional seconds. `{ISOz}` expands to `{ISOdate}T{ISOtime}Z`, which expands to `{000YYYY}-{0M}-{0D}T{{0h24}:{0m}:{0s}{ss}Z`, in case your curious what the formats are. The reason why `{ISOz}` does implicit conversion to UTC (alo

[2015-06-25 22:20] vsmart commented on #56
Great. Thank you!

[2015-06-25 22:20] #56 closed

[2015-06-26 18:35] b0oh opened #57 "No timezone found for: EDT"
When I am trying to parse date like that: `"Mon, 02 Mar 2015 06:48:00 EDT"` I am getting an error:
[code]

I opened an [issue](/lau/tzdata/issues/3) in Tzdata, but I am not sure if it is their issue.

[2015-06-26 19:07] bitwalker commented on #57
@b0oh the problem is that there is no timezone with the abbreviation "EDT" for the date specified. Timezones are date/time sensitive, so while you can hack around Timex to assign an invalid timezone to a DateTime, it won't let you using the API.

To see why it fails, observe what I get running `Timezone.get("EDT")`:

[code]

As you can see, EDT started on March 8th (expected), and your date falls

[2015-06-29 14:43] #57 closed

[2015-06-30 07:49] xbinxu opened #58 "parse timezone failed at osx yosemeti with elixir 1.0.4"
While calling Date.local, an exception is raised:

[code]

System timezone:

[code]

[2015-06-30 15:55] bitwalker commented on #58
@xbinxu Could you run `ls -l /etc/localtime` so I can see what it's symlinked to? I assume it's the same but I just want to confirm.

[2015-06-30 15:59] bitwalker commented on #58
Running `sudo systemsetup -settimezone "Asia/Shanghai"` and `iex> Timezone.local` returns me:

[code]

What version of timex are you on just in case I'm testing on the wrong version? If you're on an older one, can you update and test with the latest stable version on hex?

[2015-06-30 16:04] bitwalker commented on #58
Judging by the error, this must've been a fairly old version of timex, as the TransitionInfo struct has implemented the Access protocol for quite some time. Can you confirm that?

[2015-07-01 04:05] xbinxu commented on #58
@bitwalker,  according to your last message, I tried remove _build folder and re-compile the whole project, the error is gone.

FYI, I updated timex from 0.13 to 0.15 yesterday and the error occurred. It seems that not all beam files are updated at compile time, I still have no idea about it but this issue can definitely be closed.

Thank you!

[2015-07-01 04:05] #58 closed

[2015-07-01 11:49] jeznet commented on #47
[a8a7885](https://github.com/bitwalker/timex/commit/a8a78854d1e87825a269677c5a89b2fd860a3e87) does solve this issue reported by @obrok:

but it (nor any comment here) does not address:

@bitwalker Could you comment on that?
I personally would need such a function that would behave as @obrok specified with the assertions (a function that would proper interpret any valid ISO-8601 date time string).

[2015-07-01 14:07] bitwalker commented on #47
@jeznet I agree that this is a needed enhancement, I'll look into this today and see what is required to change the `{ISO}` and `{ISOz}` shortcuts to allow any valid ISO 8601 datetime string (with the exception that `{ISOz}` would assert that the input string is zulu-formatted.

[2015-07-01 14:37] obrok commented on #47
It seems `{ISOz}` should assert the offset is 0 instead of checking for the litaral `Z`?

[2015-07-01 15:14] bitwalker commented on #47
@obrok `{ISOz}` is a shortcut for the Zulu-suffixed ISO 8601 format, i.e. `2015-07-01T12:00:00.000Z`. My plan would be to allow `{ISO}` to parse both Zulu-suffixed and offset-suffixed formats, but for `{ISOz}` to only allow the Zulu-suffixed format.

[2015-07-01 20:45] bitwalker commented on #47
@jeznet / @obrok I pushed a new version of timex which contains a change to handle this request (and provide the structure for doing similar things with other directives, as well as some internal restructuring. Could you two pull down master (or the tag 0.16.0) and test with it? Once I get some confirmation that things are looking good for you, I'll push to hex.

[2015-07-02 15:25] jeznet commented on #47
@bitwalker Tested it and things are looking good for me.

Side note: I had to only change Timex.DateFormat.parse to Timex.Format.DateTime.DateFormat.parse (which I in the end replaced with calling `use Timex` and using just `DateFormat.parse` as described in the README).

[2015-07-02 17:56] bitwalker commented on #47
@jeznet Yeah that's the one change I'm a little nervous about, which is why I incremented the minor version. The change was kind of necessary to keep things better organized and named, but the `DateFormat` module is the only one (with the exception of custom parsers) which might affect users. I feel like most people use the `use Timex` method, in which case it's transparent, but I'm sure you're no

[2015-07-02 19:44] obrok commented on #47
Can't really upgrade in my project, as `timex_ecto` requires `timex ~> 0.15.0`. Is that a bug by the way?

[2015-07-02 23:21] bitwalker commented on #47
@obrok I've pushed `timex_ecto` 0.2.0 which has been updated to use timex 0.16.0. You can always do this in your mix.exs if this comes up again though:

[code]

That will override the timex dependency. Of course you risk running into bugs overriding deps this way, but usually if everything compiles you are good to go.

[2015-07-02 23:22] bitwalker commented on #47
Since this has been pushed to hex, I'm closing this for now. Please reopen if there are any problems with this specific issue.

[2015-07-02 23:22] #47 closed

[2015-07-02 23:23] bitwalker commented on #54
Since this has been pushed to hex, and it seems that people are using it without reported issues so far, I'm closing this one. @ewildgoose please let me know if you run into any problems over on the timex_ecto repository!

[2015-07-02 23:23] #54 closed

[2015-07-02 23:28] obrok commented on #47
@bitwalker Forgot about that! I'll try it out tomorrow, thanks.

[2015-07-03 10:31] obrok commented on #47
Tested `0.16.0` briefly, seems to work as expected.

[2015-07-05 13:08] hitoridewanai opened #60 "DateFormat not as simple as possible"
As per timex.ex
[code]

DateFormat is only easily accessible if I do "use Timex". Would you consider moving the module to "Timex.DateFormat" to be easily accessible (and possibly delegate all the functionality wherever you want)? It used to work and was super easy.

[2015-07-07 10:30] obrok opened #61 "Parsing of second fractions"
ISO8601 allows for sub-second time amounts to appear after seconds, but trying to parse such a string results in an error:

[code]

Edit: this only happens when there's more than 3 digits in the sub-second part.

[2015-07-07 14:23] mr-bt commented on #9
@bitwalker are you thinking in moving to R18 new time API?

[2015-07-07 15:10] bitwalker commented on #9
@mr-bt I've actually already implemented this in the `Time` module. If you look at the definitions for `now/1` or `measure/3` you can see where I'm checking a cached value for the current OTP release, and using the new Time API if it's available (i.e. OTP 18+). The `Date` module does not use the Time API (it really only deals with the Erlang `calendar` module.

I'm thinking of refactoring the way

[2015-07-07 15:20] bitwalker commented on #61
@obrok What would the representation of the sub-ms range be in `DateTime`? Right now `DateTime` only goes to millisecond precision (`Time` does microseconds). Should the value be truncated, rounded?

[2015-07-07 15:36] obrok commented on #61
I think it should be rounded. There is some loss of precision, true, but that's probably still better than rejecting a valid input?

[2015-07-07 15:38] bitwalker commented on #61
@obrok Yeah it's definitely incorrect to be restricting the precision, I'll change it to round to the nearest millisecond.

[2015-07-09 23:50] ewildgoose opened #62 "Possible parse problem with %m :strftime"
Hi, I see a possible bug in the strftime parser:

iex> DateFormat.parse("150623", "%y%m%d", :strftime)
{:error,
 "Invalid numeric value `62` for month. Outside of the allowed bounds: 1..12"}

iex> DateFormat.parse("151123", "%y%m%d", :strftime)
{:ok,
 %Timex.DateTime{calendar: :gregorian, day: 23, hour: 0, minute: 0, month: 11,
  ms: 0, second: 0,
  timezone: %Timex.TimezoneInfo{abbreviation: "UTC

[2015-07-10 01:19] bitwalker commented on #62
@ewildgoose Yeah that's a bug in the parser, I'll take a look tonight!

[2015-07-10 03:35] #62 closed

[2015-07-10 03:37] bitwalker commented on #62
Released this fix in 0.16.1. Thanks for reporting it!

[2015-07-10 17:44] #61 closed

[2015-07-10 17:45] bitwalker commented on #61
@obrok This is now fixed in master, I'll either push a new hex release today, or once I've got a few more things to push.

[2015-07-10 17:49] #60 closed

[2015-07-10 17:50] bitwalker commented on #60
@hitoridewanai This seems like a pretty reasonable request, so I've made this change in master. It is now available as `Timex.DateFormat`.

[2015-07-10 20:51] hitoridewanai commented on #60
Good stuff, thanks :)

[2015-07-10 22:56] obrok commented on #61
@bitwalker awesome, thanks!

[2015-07-11 11:50] rockerBOO commented on #35
:+1:

[2015-07-11 11:59] rockerBOO opened #63 "Date clarity in the documentation"
On the readme, `Date` is used in the examples. `Date` really is `Timex.Date`. There is a `use Timex` when explaining ["Erlang datetime tuples"](https://github.com/bitwalker/timex#converting-from-erlang-datetime-tuples), which explains how to get it in the proper scope. This can be confusing for newer elixir users (me).

It might be better to use the full names in the documentation (`Timex.Date`) t

[2015-07-13 15:44] rockerBOO commented on #63
I feel now, after looking at the larger blocks of text, that I missed the message saying you can do the "use Timex" part.

No worries now. :smiley:

[2015-07-13 15:44] #63 closed

[2015-07-16 12:32] jschoch opened #64 "compile failed"
==> tzdata
Compiled lib/tzdata/parser_organizer.ex
Compiled lib/tzdata/release_parser.ex
Compiled lib/tzdata/util.ex
Compiled lib/tzdata/table_parser.ex
Compiled lib/tzdata/parser.ex
Compiled lib/tzdata/table_data.ex
Compiled lib/tzdata/leap_sec_parser.ex
Compiled lib/tzdata/basic_data.ex
Compiled lib/tzdata/period_builder.ex
Compiled lib/tzdata/far_future_dynamic_periods.ex
**Killed**

[2015-07-16 16:39] bitwalker commented on #64
@jschoch Could you provide some more details? What version of Elixir/Erlang, and what OS are you building on? The builds are passing in Travis and locally, so I'll need some more detail in order to help troubleshoot.

/cc @lau

[2015-07-18 16:59] dantswain opened #65 "Possible bug with time zone conversion wrt daylight savings"
I'm working on an application that needs to be able to convert epoch timestamps to dates in a standardized system time, which is US Central (don't ask... :rage1:).

On one of the remote boxes, using Ruby's `Time.at`, which I have used extensively and have no reason not to trust:

[code]

Note the difference from `now` and the date in question - one is daylight savings and one is not.

On my local

[2015-07-19 03:29] sheharyarn commented on #60
I've been going crazy over this for the last few hours. `DateFormat` worked when I did `use Timex`, but not when I did `Timex.DateFormat`, since I assumed that would be it. Anyways, thanks for this.

[2015-07-19 15:35] jschoch commented on #64
https://github.com/lau/tzdata/issues/4#issuecomment-121946267

this is an AWS t2.micro so it is hitting the 2GB memory issue in the ticket above.

[2015-07-19 19:56] bitwalker commented on #64
Ah that makes sense, sounds like @lau is working on a fix, so I'll keep this open until the next version of tzdata is released.

[2015-07-21 16:26] hamann opened #66 "Error with parse strftime"
We have a JS client which sends date strings like 'Mon Jul 06 2015 00:00:00 GMT+0200 (CEST)' (`date.toString()`)

Trying to parse it I get an error

[code]

whereas this works
[code]

[2015-07-21 18:17] bitwalker commented on #66
On it, thanks!

[2015-07-22 21:45] #66 closed

[2015-07-22 21:45] bitwalker commented on #66
This is fixed in master now, I'll release a new version of timex shortly, I just have one other bug to address. Thanks again for reporting!

[2015-07-23 00:24] #65 closed

[2015-07-23 00:27] bitwalker commented on #65
@dantswain This was kind of a bug / kind of a naive approach to handling timezone conversions, there was no validation logic which checked whether the shift in time would put the date in a new timezone, and thus handling the shift across timezone boundaries properly. I've improved the way those conversions are done, and added tests for this specific case, but it should apply to any such shift acro

[2015-07-23 00:28] bitwalker commented on #65
I'll be pushing a new release to hex with this shortly by the way :)

[2015-07-25 04:19] stavro opened #67 "DateFormatter: Two digit month"
Would you be open to adding a `MM` format to the Date Formatter to print out the month as a two-digit value?

Currently these options exist:

[code]

However, I need to have the month always take two digits.  (01 instead of 1).  - As you know this is quite common with formatting.

[2015-07-26 09:53] nicksanders opened #68 "Date.local is around 280 times slower in version 0.14.3 and 0.16.2 compared to 0.13.5"
Using the test below, mix test --trace shows Date.local is around 280 times slower in version 0.14.3 and 0.16.2 when compared to version 0.13.5

[code]

**0.13.5**
[code]

**0.14.3**
[code]

**0.16.2**
[code]

[2015-07-27 02:51] bitwalker commented on #67
@stavro You can just do `{0M}` to accomplish padded two-digit months, this is mentioned in the documentation for the formatter, but it might not be clearly stated. If you have any suggestions on improving the docs, please let me know!

[2015-07-27 02:51] #67 closed

[2015-08-05 22:07] bitwalker commented on #68
Released in 0.17.0

[2015-08-05 22:08] #68 closed

[2015-08-13 17:41] myronmarston opened #71 "ISO triplets don't roundtrip as expected"
[code]

Going from an iso triplet to a date and back to a triplet produces a different value than I started with.  This is unexpected.

[2015-08-13 17:51] myronmarston opened #72 "Confusion about ISO triplet"
I found the `iso_triplet` functions related functions and (wrongly) assumed they were referring to `{year, month, day}` tuples -- after all, an ISO-8601 date is in the form `YYYY-MM-DD`.  I see now that the ISO 8601 standard also supports a week date:

https://en.wikipedia.org/wiki/ISO_week_date

...but I had never heard about that before, and was quite confused about the `iso_triplet` functions w

[2015-08-13 19:38] #71 closed

[2015-08-13 19:43] bitwalker commented on #72
@myronmarston You actually did uncover a bug in how I was handling the ISO triplet stuff, so I'm glad you reported the issue you found!

The `iso_triplet` is a standard form for `{YYYY, WW, WD}`, so I think I'd rather treat that as a documentation issue. However, the current docs do describe the tuple returned, do you have suggestions on how the docs could be improved?

You can use `{{^y, ^m, ^d},

[2015-08-13 19:44] bitwalker commented on #71
Thanks for reporting this! I wasn't properly calculating the ISO date, hence the roundtrip being off, but it is accurate to the standard now :)

[2015-08-13 19:45] bitwalker commented on #71
Oh and I'll be pushing this in a new release here in a few minutes

[2015-08-13 20:01] myronmarston commented on #72
The docs explain this.  However, as someone who thought he already knew what `iso_triplet` meant, I didn't initially read them, and then got really confused with what I was seeing...and then I read the docs, and realized there was a part of iso8601 I had never dealt with and didn't know existed :).

Maybe the `{ YYYY, WW, WD }` form is common in the community, but I had never seen or heard of that

[2015-08-13 20:30] bitwalker commented on #72
I can definitely see the potential for confusion, and I'd be tempted to rename it. However, I think the reason why I feel it's less ambiguous than stated is because the usual meaning of ISO vs not-ISO (when it comes to conversions), has to do with the fact that the ISO calendar represents dates in terms of `{year, week, weekday}`, not `{year, month, day}`. This is because ISO weeks/days do not alw

[2015-08-13 20:33] myronmarston commented on #72
I did not know about how the ISO calendar represents dates!  I'm probably not the best person to ask about this because my knowledge of ISO is very limited (I've always just thought of it as the name of the `YYYY-MM-DD` format for dates).  I've never read the standard.

Maybe you can get feedback from other people who are more familiar with the ISO standard?

[2015-08-13 20:43] bitwalker commented on #72
@myronmarston Well it's the feedback from users who aren't as familiar that is more important I think :), the reason being that someone who was familiar designed the API, so if it's confusing, then I'd rather get input from those who have less context clouding their opinion. Do you think documenting some of these things would make sense? Would people read documentation on, say, what the ISO calend

[2015-08-13 21:06] myronmarston commented on #72
Maybe a top-level note in the README (and in the `Timex.Date` module doc) saying something like would suffice?

[2015-08-27 09:26] ftaebi opened #73 "Not working in exrm release"
Hi,
I'm using Timex 0.19.2 and it works as expected. But ..., it does not work inside my exrm (0.19.2) releases. All I can say right now is that no Timex modules are available when I attach to the console. Fortunately U also maintain the exrm repo.

[2015-08-27 12:58] ftaebi commented on #73
It works after putting timex under "applications". I didn't expect it to be necessary because it is not an application which has to be started before my application but only a bunch of functions.

[2015-08-27 12:58] #73 closed

[2015-08-27 13:17] pma opened #74 "ISO/ISOdate parser should enforce zero-padded month and day"
ISO8601 specifies that month and day show have 2 digits, with zero-padding if necessary. But the parser accepts a string as valid even if month and day have a single digit.

[code]

Reference: https://www.ietf.org/rfc/rfc3339.txt

[2015-08-28 15:22] bitwalker commented on #64
This should be fixed in master now.

[2015-08-28 15:22] #64 closed

[2015-08-28 16:46] bitwalker commented on #73
@ftaebi There is common confusion around this with newcomers to the Erlang/Elixir languages, I've covered this in more detail in the exrm docs, but the basic explanation consists of two parts:

1. Applications in Erlang/Elixir consist of two types, those which start a supervision tree, and those which are just a collection of modules/functions. They are effectively the same thing even though comin

[2015-08-28 20:37] ftaebi commented on #73
Thanks a lot for the clarification.

[2015-09-02 05:50] mosic commented on #27
@bitwalker I can replicate this with the latest release (0.19.2):

[code]

Any suggestions?

[2015-09-02 14:19] bitwalker commented on #27
This is happening because you are passing `date` which is `{:ok, %DateTime{...}}` to `Date.shift`, and it is not being properly handled by timex. I'll address handling the invalid argument, but if you replace `date = DateFormat...` with `{:ok, date} = DateFormat...` you'll be good to go :)

[2015-09-02 18:25] mosic commented on #27
@bitwalker Great, thanks!

[2015-09-03 14:44] colinbankier opened #75 "ISO parser should allow omitting lower order time elements"
According to https://en.wikipedia.org/wiki/ISO_8601#Times it is acceptable to omit lower order time elements for reduced precision, e.g. [hh]:[mm], and [hh].

Timex currently does not allow this:
[code]

[2015-09-03 21:42] #74 closed

[2015-09-03 21:43] bitwalker commented on #74
This is fixed in master now. Thanks for the bug report!

[2015-09-12 23:06] umurgdk opened #77 "Parsing RFC 1123 throwing error"
```DateFormat.parse "Sat, 15 Aug 2015 09:54:05 +0200", "{RFC1123}"``` throwing following error:
[code]

Elixir version: ```1.0.5```
Timex version: ```0.19.4```
Erlang version: ```OTP 17```

[2015-09-13 00:35] umurgdk commented on #77
Figured out :tzdata application needs to be started.

[2015-09-13 00:35] #77 closed

[2015-09-13 15:19] rockwood commented on #46
Looks like this has changed. Is this now the proper way to parse an epoch integer?

`Timex.DateFormat.parse(Integer.to_string(1442156633), "{s-epoch}")`

[2015-09-13 16:10] bitwalker commented on #46
@rockwood I typo'd in my post above, it's actually `Date.from(1442156633, :secs)`, `:epoch | :zero` can be provided as a third argument to determine which point in time the integer is relative to (unix epoch or year zero of the gregorian calendar).

[2015-09-14 22:40] ayarulin opened #79 "DateTime with float ms formatted into unparsable ISO string"
Trying to format datetime (loaded by Timex.Ecto.DateTime):
[code]
I assume returned string is not follow ISO 8601:

[code]

[2015-09-15 01:40] #79 closed

[2015-09-15 01:40] bitwalker commented on #79
Thanks for reporting, this is fixed in master. I'll push a new release to hex soon :)

[2015-09-15 13:40] brweber2 opened #80 "{ISO} works but {ISOz} does not"
This used to work, but I believe was broken recently:
[code]

Output is:
[code]

[2015-09-15 13:46] brweber2 commented on #80
This works in 0.19.3 but not 0.19.4

[2015-09-15 14:02] bitwalker commented on #80
You just need to add `:tzdata` to your applications list.

[2015-09-15 14:02] #80 closed

[2015-09-15 14:26] brweber2 commented on #80
Thanks!

[2015-09-24 22:02] stavro opened #81 "Timex.Date.shift\2 Incorrect"
`Timex.Date.shift/2` with interval argument `mins: <integer>` returns an incorrect result when given a DateTime not in UTC time.

[code]

The problem is that `Timex.Date.shift/2` always assumes the input is it UTC, and thus treats date and time components as UTC components erroneously, clearing out the Time Zone.

Reference: https://github.com/bitwalker/timex/blob/master/lib/date/date.ex#L1153-L11

[2015-09-24 22:23] #81 closed

[2015-09-24 22:24] bitwalker commented on #81
Hey @stavro, thanks for reporting this! I've applied a fix and pushed a new release (0.19.5) to hex - and fixed the tests which should've caught this :/

[2015-09-24 22:25] stavro commented on #81
Thanks for the speedy fix!

[2015-10-03 15:36] vans163 opened #83 "DateTime.now and DateTime.local do not coincide"
I am in EDT timezone when I do:

Date.local
%Timex.DateTime{calendar: :gregorian, day: 3, hour: 11, minute: 33, month: 10,
 ms: 568, second: 51,
 timezone: %Timex.TimezoneInfo{abbreviation: "EDT",
  from: {:sunday, {{2015, 3, 8}, {2, 0, 0}}}, full_name: "America/New_York",
  offset_std: 60, offset_utc: -300,
  until: {:sunday, {{2015, 11, 1}, {1, 0, 0}}}}, year: 2015}

Date.now("America/New_York")

[2015-10-05 13:19] mspanc opened #84 "Adding a big time offset can lock"
I've found out that calling this

[code]

Causes to hang (or launch so long operation that I wasn't patient enough to wait).

Shouldn't such operation be with more predictable complexity?

Erlang/OTP 17 [erts-6.4] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
Elixir (1.0.4)
Mac OS X

[2015-10-05 16:21] drewolson opened #85 "ETS lookup error on subsequent test runs"
I'm attempting to upgrade my application to timex `0.19.5` from `0.19.2`. Here's the diff of my lock file.

[code]

After the update, I'm seeing an interesting error. On my initial test run, everything works fine. On subsequent runs, however, I'm seeing the stacktrace below. If I blow away my `_build` folder, tests will pass again, but only for a single run.

[code]

Thoughts?

[2015-10-05 16:24] bitwalker commented on #85
@drewolson Sorry about that! I need to add a note to the README/docs, `tzdata` needs to be added to `applications` now, can't recall the specific version in which that changed, but I believe it was `0.5.x`.

[2015-10-05 16:27] drewolson commented on #85
Ah, thanks. Sorry, should have read the README :( That did the trick.

[2015-10-05 16:27] #85 closed

[2015-10-05 16:35] bitwalker commented on #85
@drewolson No worries! This is something I should probably wrap some error handling code around so I can print a more useful error.

[2015-10-06 10:05] sdanzan opened #86 "tzdata crash at startup in escript"
I have an application packaged as a standalone executable (generated with `mix escript.build`) that uses Timex to parse dates.

When the application is run from the command line, it crashes in first call to Timex.DateFormat.parse with the "classic" stack trace:

When I call the `main` function of my application directly from within `iex -S mix` with the same arguments, it does not crash. In both c

[2015-10-06 14:16] triptec commented on #86
I've got the same error =(

[2015-10-06 14:47] sdanzan commented on #86
OK, escript builds do not support well data embeded in `priv` (which `tzdata` requires). However when trying to work around that I found a very strange behaviour: `tzdata` is present in the list of started applications, but when I call `Application.app_dir(:tzdata, ...)` I get an application not started error. This easily reproduceable with

Anyway, I guess to properly embed Timex/Tzdata in standa

[2015-10-06 16:32] bitwalker commented on #86
@sdanzan Actually escripts do support reading data from their embedded archive (via `erl_prim_loader`). However the bigger problem is that `tzdata` is using `ets:file2tab` to load timezone information from an ETS dump, and the underlying implementation is using functionality which requires the file to be accessible directly, there doesn't appear to be a way to load the file as a binary and call a

[2015-10-06 21:56] lau commented on #86
A feature that I am considering implementing soon is to be able to configure (using the elixir config system) an alternative dir location for the files that are currently in the `priv` dir. I don't know if it would be a practical solution for most people doing escripts, but I'm guessing it could solve the problem.

[2015-10-06 22:12] Korbin73 commented on #86
I'm also seeing this error but in a slightly different context. I'm not sure if this will help, but I have configured my .iex.exs file to have the following function that uses date bindings
[code]
I see this error when trying to format the date to a string.

[2015-10-06 22:12] bitwalker commented on #86
@lau Yeah the same problem will still exist for escript builds, since the only way to read files from the escript is via `erl_prim_loader`, and storing the files externally isn't practical for an escript since the idea is to have a portable executable. If tzdata can support loading the data into ETS via an alternative means other than `:ets.file2tab`, then that would be the ideal fallback for when

[2015-10-06 22:14] bitwalker commented on #86
@Korbin73 In your .iex.exs, add above that code snippet:

[code]

That should fix your particular issue.

[2015-10-06 22:17] Korbin73 commented on #86
Excellent! That worked. Thanks @bitwalker

[2015-10-07 02:09] vans163 opened #87 "Timex.Date.set(parsed, [hour: 0, minute: 0, second: 0]) Does not offer microseconds"
setting the Date does not offer microseconds resulting in values like:

"2015-10-06T00:00:00.590-0400"

You cannot get absolute start of the day 00:00:00.000

[2015-10-07 02:13] #87 closed

[2015-10-07 16:30] lau commented on #86
@bitwalker I see. Having two different file formats might be messy, but going down that route might be a good idea. Maybe with the alternative file format as a separate package if possible.

Using tzdata `~> 0.1.8` would probably work as all the data are just included at compile time. Could you allow that in the timex `mix.exs`? Then people could specify `~> 0.1.8` in their `mix.exs`. Are escripts

[2015-10-11 17:03] kadzuya opened #88 "DateFormat.parse failed with {UNIX} under some timezones"
DateFormat.parse failed under PST or JST.
it seems caused by calling Timezone.lookup_timezone_by_abbreviation before parsing Year.
[code]

Test changing order of Timezone and Year.
[code]

[2015-10-12 09:54] krishandley opened #89 "RFC: beginning_of_... and end_of_... helpers"
Would you be interested in adding any of the following helper functions from active support?

* beginning_of_year
* beginning_of_month
* beginning_of_week
* beginning_of_day
* end_of_year
* end_of_month
* end_of_week
* end_of_day

Example from the ruby world
http://apidock.com/rails/ActiveSupport/CoreExtensions/Date/Calculations/beginning_of_week

I was making a calendar and needed to get the begi

[2015-10-12 16:40] hassan commented on #83
I just hit this same problem (before finding this issue open).

Here's a gist https://gist.github.com/hassan/c90e61dd8ce2b5cfd234 that demonstrates the issue and includes a failing test.

I'd submit the test as a PR but not sure if it's appropriately colloquial Elixir  :-)

[2015-10-12 16:59] #88 closed

[2015-10-12 16:59] bitwalker commented on #88
This is now fixed in master, should be pushing a new release to hex here shortly!

[2015-10-12 17:04] bitwalker commented on #89
I'm open to adding these helpers, however let's break it up into multiple PRs and start with `beginning_of/end_of_year`. It'll be easier to review + merge, and the complexity increases as the timespan becomes more granular. Sound good?

[2015-10-12 17:08] krishandley commented on #89
Great, sounds good to me :)

[2015-10-12 17:15] bitwalker commented on #84
This appears to be an issue in `:calendar.gregorian_seconds_to_datetime`, in the Erlang standard library. I suspect it's not a trivial calculation to make, which is why the complexity is not predictable. Timex could potentially guard against such large values, but does it make sense to do so?

[2015-10-12 17:18] meadsteve opened #90 "Timex 0.17.0 isn't compatible with Elixir 1.1.0"
Hi not sure if this has already been tackled but I'm building against 0.17.0 of timex and 1.1.0 of elixir and I get this error:
[code]

[2015-10-12 17:20] mspanc commented on #84
Hm I don't think it makes sense to add such protection at arbitrary value, but definitely it would be great if you could put warning in Readme that any user-generated input passed to such functions should be sanitized due to complexity of underlying implementation.

In my case time offset passed by a user via web form is used to compute timestamp. If it's super big, it will effectively lock proces

[2015-10-12 17:25] bitwalker commented on #90
@meadsteve If you want to use timex with Elixir 1.1.0, you should use `0.19.5` or `1.0.0-pre`, 0.17.0 still uses the deprecated `Access` protocol because it predates Elixir 1.1.0. There have also been many fixes in the releases since. Is there some reason you can't update?

[2015-10-12 17:26] #90 closed

[2015-10-12 17:36] bitwalker commented on #84
@mspanc Good point on documenting this as a potential issue. How does the following sound:

"As a rule, Timex validates dates/times are valid within certain constraints, but it makes no guarantees around user-provided input. Some functions in the Timex API have high complexity relative to the input values, and if you are not careful to sanitize input to these functions, an attacker can exploit thi

[2015-10-12 18:02] #83 closed

[2015-10-12 18:03] bitwalker commented on #83
This is now fixed in master, I'll be pushing a new release to hex soon.

[2015-10-12 18:23] mspanc commented on #84
Very good!

[2015-10-12 20:54] bitwalker commented on #86
@lau I've changed the requirements in `timex` to allow using `tzdata` 0.1.8 for now, until I can get around to my PR to Elixir's `mix escript.build` task, then I can tackle modifying `tzdata` and sending you a PR.

@sdanzan You can put the following in your `mix.exs` to use the above version of `tzdata` inside your escript instead of the current one:

[code]

I'll update this thread when we have a

[2015-10-12 21:06] #75 closed

[2015-10-12 21:06] bitwalker commented on #75
This will be pushed in the next release of timex (sometime today probably).

[2015-10-13 07:05] meadsteve commented on #90
@bitwalker thanks. This was caused by me being tired and silly and using a version number I took from the docs for some reason. I can absolutely use 0.19.5

[2015-10-13 07:15] sdanzan commented on #86
Yes, it works, thanks!

[2015-10-13 14:42] bitwalker commented on #90
@meadsteve I would recommend using 1.0.0-pre if you can, it is API compatible with 0.19.x and there are already a few bug fixes there that you may want.

[2015-10-13 19:42] bitwalker commented on #84
Documentation pushed to master!

[2015-10-13 19:42] #84 closed

[2015-10-14 03:19] akira opened #92 "Performance degradation of Date.local compared with older version of timex"
There is a major performance degradation of date.local compared with older versions of timex.

On the older version, for example version 0.13.5, Date.local on my laptop:

[code]

versus latest stable release, 0.19.5:
[code]

Using this for benchmarking:
[code]

[2015-10-14 06:53] bitwalker commented on #92
@akira I'd like to point out that this is not a "major" performance degradation. An increase of ~130 microseconds, or ~0.1 milliseconds, while significant relative to the old value, is still very performant considering that `Date.local` does lookups against the filesystem, reads and parses a binary file, and then does an internal lookup for the timezone metadata in the Olson database based on the

[2015-10-14 14:29] akira commented on #92
I see - the use case is for exq, which is a sidekiq/resque type queueing library. We use Timex when we serialize our jobs to JSON as they are enqueued:

https://github.com/akira/exq/blob/master/lib/exq/redis/job_queue.ex#L124

Let me know your thoughts regarding this specific use case.  Thanks!

[2015-10-14 15:29] bitwalker commented on #92
@akira Is there any particular reason you use `Date.local` there instead of `Date.universal`? In general you should avoid using local time for anything that isn't user facing, particularly since you might have your application split across geographic areas where the local timezone is different. Within Timex, constructing a date in UTC is much much faster.

[2015-10-15 02:49] akira commented on #92
@bitwalker good call, I can use Date.universal.

After making that switch, I still performance degradations with Date.format! versus previous versions:

0.19.5:
[code]
versus 0.13.5:
[code]

Does that seem right? I can't seem to run the benchmark multiple times on 0.19.5, as it fails on subsequent runs, but from the above it seems like there's a slowdown from previous version.

[2015-10-15 04:50] bitwalker commented on #92
@akira Yes the formatters/parsers were rewritten because of a few issues in my original handwritten ones that were difficult to resolve without significant changes. I made the tradeoff of using parser combinators in the new parsers instead of handwriting them again for a few reasons:

1. The new formatters/parsers are significantly easier to maintain and extend, for myself, potential contributors,

[2015-10-18 04:41] bitwalker commented on #92
@akira I've pushed some pretty significant performance improvements to `combine` in version 0.5.3, the parser combinator library used in `timex`. You'll have to update that dependency, but if you do, the following benchmark results show the before and after when running `mix bench -d 2`:

[code]

My laptop isn't all that powerful, so the numbers on a beefier machine would probably be quite a bit b

[2015-10-19 03:07] akira commented on #92
Thanks!  I will check it out when I get a chance and will let you know.

[2015-10-22 03:57] akira commented on #92
@bitwalker I'm not seeing same results.  Which versions are you comparing?

Using the same benchmark:

0.19.5:

[code]

Latest master branch of timex with master branch of combine
[code]

[2015-10-30 06:47] JustMikey opened #94 "Wrong timezone name"
I may be wrong or not understand something, but quick googling says that there is no `Katmandu` but only `Kathmandu`, so maybe `Asia/Katmandu` should be renamed to `Asia/Kathmandu` ?

[2015-10-30 17:12] bitwalker commented on #94
Both `Asia/Kathmandu` and `Asia/Katmandu` exist in the Olson timezone database, so this is valid. I'm not sure why both are there, but I'm guessing it's a historical change.

[2015-10-30 17:12] #94 closed

[2015-11-07 18:20] malmovich opened #96 "Incorrect parsing of milliseconds in Timex.DateFormat.parse for the "{ISOz}" format in the 0.19.2 release"
The issue can be shown by doing the following:
[code]
The result has ms = 600 instead of ms = 60 and this issue is true for every fraction < 100.

[2015-11-08 01:32] #96 closed

[2015-11-08 01:32] bitwalker commented on #96
I've pushed a fix for this, I'll push a new release today probably.

[2015-11-08 19:17] henrik opened #97 "Sorting bug (or misunderstanding)"
Docs say:

But I see this unexpected behaviour:

[code]

So the datetime that is 1 year later is not considered greater… unless seconds match.

Are `DateTime` structs meant to be comparable like this? Am I misunderstanding something, or is this a bug?

[2015-11-08 19:21] henrik commented on #97
…and now I found https://hexdocs.pm/timex/Timex.Date.html#compare/2 :D I'll make a PR to clarify the docs.

[2015-11-08 19:21] #97 closed

[2015-11-08 19:24] henrik commented on #97
Or not – not sure how I'd clarify that without getting into perhaps too much detail.

[2015-11-09 17:18] theoretick opened #98 "ISO8601 - Mixed Basic and Extended format"
Hi there!

I recently noticed a discrepancy in how Timex formats its ISO-8601 datetime strings.  It looks like its a mixture of both the basic and extended formats.  Basic format (`YYYYMMDDThhmmss±hhmm` e.g. 19850412T101530+0400) and Extended format (`YYYY-MM-DDThh:mm:ss±hh:mm` e.g. 1985-04-12T10:15:30+04:00).

This came up as I received an error for google about an invalid datetime I was generati

[2015-11-09 17:40] bitwalker commented on #98
I think this is really a side effect of using `{ISO}` and `{ISOz}` as flexible tokens to represent the ISO-8601 spec in it's entirety, when as you've pointed out, the ambiguity causes bugs like this to happen.

I'll fix this bug myself, but if you'd be interested in tackling the addition of four new tokens `{ISO:Basic}|{ISO:Basic:Z}` and `{ISO:Extended}|{ISO:Extended:Z}`, I'd be glad to merge that

[2015-11-09 17:48] bitwalker commented on #98
@theoretick The bug in question has been fixed in master. I'll leave this open to track the addition of `{ISO:Basic}` and `{ISO:Extended}`.

[2015-11-09 17:49] theoretick commented on #98
Great, thanks!  That sounds good, I'll take a crack at it when I get some time this week

[2015-11-10 16:54] lau commented on #92
@akira I would recommend never using the local time of the server for anything. Use UTC instead. Besides being faster, it is more simple and you avoid certain bugs.

[2015-11-10 18:28] akira commented on #92
@lau Thanks! I was planning on switching that over to use UTC and will do that.  I think the primary issue I was seeing was with the date formatting which is done as well during the serialization process.

In general I just wanted to bring this different between the version up in case no one was aware, but sounds like this was more of a tradeoff in the design which is fine.  Anyways, I'll keep an

[2015-11-10 21:16] bitwalker commented on #92
@akira I'll continue looking into improvements within combine. If you have any specific optimization suggestions, I'm glad to take a look. One thing that's being worked on right now is splitting the implementation of the ISO-8601 parser into two parsers, Basic and Extended, which can be strict within their subset of the spec, and therefore skip a lot of alternation steps which slow the parsing dow

[2015-11-12 17:10] bitwalker commented on #97
@henrik Yeah I see where the confusion comes from, in Elixir/Erlang there is no way to override the comparison operators, so comparing two structs is going to boil down to however Erlang compares maps by default. So any time we need to do custom comparison we have to provide our own `compare/2` function. If you have thoughts on how to best express that in the docs, I'd gladly merge a PR or make th

[2015-11-12 19:22] henrik commented on #97
Hm. Maybe just linking "compare them" to the docs, and similarly for "diff two dates"? Would have helped me at least.

If you agree, feel free to change it yourself.

[2015-11-16 21:25] Zensavona opened #100 "Timezones are opposite to what they should be"
This is a pretty weird bug, and I'm not even sure if I'm just going crazy, but humour me:

[code]

I'm running `0.19.5`

[2015-11-16 21:33] bitwalker commented on #100
This is intentional in the Olson timezone database (and totally confusing, I agree). See [this link](https://en.wikipedia.org/wiki/Tz_database#Area) for more information.

[2015-11-16 21:33] #100 closed

[2015-11-16 21:45] Zensavona commented on #100
Thanks for responding so quickly. I wonder who's idea that was... Totally bizarre.

[2015-11-19 16:46] alkamin commented on #35
This would be a worthwhile change.  The shortened versions of the units are not obvious or easy to remember. :+1:

[2015-11-19 21:18] bitwalker commented on #35
Agreed, I'm going to make this part of the 1.0 release, so keep an eye out for it.

[2015-11-22 01:44] tubedude opened #102 "Type Quantity is defined as Float, but some functions return Integers"
Looking at the [Time Module](https://github.com/bitwalker/timex/blob/master/lib/time/time.ex) the quantity type is defined as [`@type quantity :: float`](https://github.com/bitwalker/timex/blob/master/lib/time/time.ex#L10).
But some functions such as [`to_usecs/1`](https://github.com/bitwalker/timex/blob/master/lib/time/time.ex#L10) or [`to_usecs/2`] (https://github.com/bitwalker/timex/blob/master

[2015-11-22 18:08] rayd opened #103 "Parsing fails for days of month > 9 for {UNIX} and {ANSIC}"
It looks like when trying to parse a date-time string using the built-in `{UNIX}` and `{ANSIC}` formats, double-digit days of the months cause the parse operation to fail.

This works:
[code]
But this doesn't:
[code]
(And same thing for the `{ANSIC}` format.)

I'm using Elixir `1.1.1`, Erlang `18.1` and the `1.0.0-rc2` version of Timex on Arch Linux.

[2015-11-23 15:46] bitwalker commented on #102
It would probably be more appropriate to stop using `quantity` and instead use `integer` or `float` where appropriate. I have an issue to fix in the Time module anyway, so I can make this another one of my TODOs. I'll leave this open until that's merged. Thanks for spotting that!

[2015-11-23 15:47] bitwalker commented on #103
@rayd Looking at this now, thanks for reporting! It looks like this one slipped through the cracks :(

[2015-11-23 15:54] bitwalker commented on #103
Well that is odd, I added a test with your example, and it passes the tests for me. Could you try with master? Perhaps this is something that has been recently fixed but not pushed as a release yet.

[2015-11-23 15:56] bitwalker commented on #103
Correction! Sorry, I was looking at the formatter tests, not parser. I can reproduce.

[2015-11-23 16:03] #102 closed

[2015-11-23 16:03] #103 closed

[2015-11-23 16:03] bitwalker commented on #103
Found the problem and pushed a fix to master. I should be pushing a new release sometime today.

[2015-11-23 17:05] rayd commented on #103
awesome! installed from master and looking good - impressive response time :)

[2015-11-23 19:16] #98 closed

[2015-11-23 22:25] tubedude commented on #102
@bitwalker I was considering working on documentation of the Time module as well: adding tests and [better error messages](https://github.com/tubedude/timex/blob/time_tests/lib/time/time.ex#L208) by adding a [Timex.Time.Exceptions](https://github.com/tubedude/timex/blob/time_tests/lib/time/exceptions.ex).

I sent you a message on Elixir Slack.

[2015-11-23 23:02] bitwalker commented on #102
@tubedude Just an FYI, but feel free to open issues on the tracker for discussion, enhancements, feature additions and the like. It's easier to keep track of the history and context around things like that over time :).

[2015-12-04 10:48] #89 closed

[2015-12-04 10:49] krishandley commented on #89
Many thanks for accepting the helpers and a few elixir tips along the way :smile:

[2015-12-04 15:17] bitwalker commented on #89
No problem! Thanks for the contributions!

[2015-12-06 10:02] stoft opened #111 "RFC: Add support for milliseconds to `Date.from`"
Many systems/applications represent Unix time/epoch as milliseconds (any system using java.sql.Timestamp for example), not seconds. Adding milliseconds as an option would be a simple convenience to avoid having to take an extra step through `Time.from` first:

[code]

Would become:
[code]

[2015-12-06 10:21] stoft commented on #35
:+1:

[2015-12-08 15:43] YayConnolly opened #112 "Time wrong (after my macbook slept)"
Here are some relevant lines from my iex session (with the latest release, 1.0.0-rc3) after waking my macbook. Was working fine yesterday. The time reported by :calendar is correct.
[code]

[2015-12-08 15:52] YayConnolly commented on #112
I'm planning to use this workaround to get the correct Timex.DateTime in PST:
`:calendar.universal_time |> Timex.Date.from("PST")`

[2015-12-08 16:16] #112 closed

[2015-12-08 16:17] bitwalker commented on #112
I'm really glad you discovered this! Timex was using `:erlang.system_time` instead of `:os.system_time`, the difference being of course that `:erlang.system_time` is the VM's system time, not the OS, so sleeping suspends the clock until it catches up.

[2015-12-08 16:17] bitwalker commented on #112
The fix is in master by the way, I'll push a new release soon.

[2015-12-08 16:18] YayConnolly commented on #112
Awesome, that was quick! Thank you for all your work on this library :+1:

[2015-12-08 16:21] YayConnolly commented on #112
Also want to make sure you don't miss the second issue regarding Timex.Date.from/2 (converting from erlang time into a timezone directly)

[2015-12-11 21:39] markburns commented on #86
I  had this issue, but had a little trouble finding this github issue via google, so will add the stacktrace to make this easier to find for others

[code]

[2015-12-12 02:39] bitwalker commented on #111
@stoft Sure that seems like a good request to remain compatible with Unix timestamps coming from those systems, I'll get it added :)

[2015-12-12 09:29] stoft commented on #111
:smile:

[2015-12-18 11:12] jnicklas opened #114 "RFC Timex.Date.from/1 should be idempotent"
Currently, the following fails:

[code]

This is inconvenient when handling values which may or may not be Timex dates. I propose that `Timex.Date.from` adds a function clause which accepts a `%Timex.DateTime{}` and simply returns it unchanged.

[2015-12-29 21:51] #111 closed

[2016-01-10 14:40] aborn commented on #86
It works tzdata 0.1.8, Thanks @bitwalker

[2016-01-10 14:51] lau commented on #86
I would use "~> 0.1.8" instead of "== 0.1.8". Because when the next version of the timezone data comes out, you would want 0.1.9 instead of 0.1.8. And ~> 0.1.8 allows "0.1.9", "0.1.10" and so on.

[2016-01-11 17:33] bitwalker commented on #86
Changed :)

[2016-01-15 08:18] JustMikey opened #117 "Difference in years with the diff function"
I don't know if it's expected or it's a bug but `Date.diff` function when used with years just returns (year2 - year1) so even if there is one day difference between dates (31.12.2015 and 01.01.2016), it will return 1.
Wouldn't it be better to check the actual dates and use logic as in  *difference in days / 365* (I know it's way too simplified, but it shows the point)

[2016-01-15 21:53] bitwalker commented on #117
Definitely a bug! Thanks for reporting, I'll take a look and get a fix for this pushed.

[2016-01-15 21:58] bitwalker commented on #117
Question: currently, `Date.diff` returns an integer value. Presumably, the result of your example should be 0, is that what you expect? Are you expecting a fractional value? My feeling is that it should return an integer, and thus 0 for your example, but I just want to confirm that's what you originally expected.

[2016-01-16 05:38] JustMikey commented on #117
Yeah, I expected it to be 0. I think it should work with years exactly as it works with, let's say, hours, where the logic seems to be something like `(difference_in_seconds / 60) |> Float.floor |> round`.

[2016-01-19 20:05] bitwalker commented on #117
Pushed a fix to master, should have a new release out soon!

[2016-01-19 20:08] #114 closed

[2016-01-19 21:12] jnicklas commented on #114
Awesome, thanks!

[2016-01-20 06:58] JustMikey commented on #117
I am afraid this fix can cause some other problems:

1) If we want to get difference in months between 01.01.2016 and 31.01.2016, it will return 1, I am not sure but I think the expected value would be 0 because it's the same month.

2) Also, I am not sure, but there may be a problem with calculating difference in years when leap years are in play.  For example, it will return 1 for dates: 29.02.2

[2016-01-20 17:09] bitwalker commented on #117
I'll review the logic for that formula for addressing the lack of precision in 1. I have a TODO to review both implementations because as you've pointed out, they are not precise, but handling the edge cases is non-trivial, and I wanted to at least get something less broken than what was there before. I'll reopen this to track it though.

[2016-01-21 04:17] JustMikey commented on #117
Yeah I understand, thank you.

[2016-01-26 23:06] rauluranga commented on #86
Hi to all!
I've got the same error, downgrading tzdata to 0.1.8 fix the build problem.

[2016-02-04 11:08] rafal-radziszewski opened #118 "Error in time comparison"
On our system we noticed, that time comparisons on Timex are currently wrong. Snippet:

[code]

If I had to guess, milliseconds have higher priority than seconds.

[2016-02-05 19:44] JustMikey commented on #118
My wild guess would be that you're just comparing two maps and since `ms` is apparently gets compared before the `second` (alphabetical order I'd guess), thus you get this result since 609.0 < 628.0.

But that's just my guess, I may be wrong.

[2016-02-05 23:34] bitwalker commented on #118
@rafal-radziszewski As @JustMikey has pointed out, you are actually comparing two maps, not two DateTimes when using the comparison operators. You have to use `Date.compare/2`.

[2016-02-05 23:34] #118 closed

[2016-02-10 09:42] hykw opened #120 "tzdata crashes with argument error in 1.0.1, but not 1.0.0"
timex version 1.0.1 crashes with argument error.
Because version 1.0.0 works correctly, there should be some issue between the versions.

## version 1.0.1
[code]

## version 1.0.0
[code]

The os is CentOS 6.7, and my /etc/sysconfig/clock is the following(just in case):
[code]

[2016-02-11 16:52] bitwalker commented on #120
That error usually occurs when `tzdata` isn't started with `timex`, what does your mix.exs look like?

[2016-02-12 01:17] hykw commented on #120
Thank you for your suggestion.The issue fixed with adding `:tzdata` into appliation in mix.exs like below:

[code]

[2016-02-12 01:17] #120 closed

[2016-03-05 03:03] bitwalker commented on #35
This has been addressed in version 2. All unit names and functions with units in them are now consistent. The old names are deprecated with warnings in 2.0.0, the only breaking change is the `ms` field of the `DateTime` struct, which is now `millisecond`.

Version 2 is not out yet (should be tomorrow I think), but I'm closing this since it's resolved.

[2016-03-05 03:03] #35 closed

[2016-03-05 03:03] #9 closed

[2016-03-05 03:14] bitwalker commented on #42
Included in Version 2.

[2016-03-05 03:14] #42 closed

[2016-03-05 03:16] bitwalker commented on #72
Included in Version 2.

[2016-03-05 03:16] #72 closed

[2016-03-05 06:25] bitwalker commented on #86
This is documented in 2.0, and I'm going to look in to a PR for a solution to fix this in more recent versions as soon as I can.

[2016-03-05 06:25] #86 closed

[2016-03-05 06:27] bitwalker commented on #92
I think things are about as they can be for now. At some point in the future I may hand optimize some of the more complex parsers. If anyone has any particular suggestions or a PR, open an issue and I'll gladly look into it.

[2016-03-05 06:27] #92 closed

[2016-03-05 06:27] bitwalker commented on #117
Rolling this into 2.0, should be released tomorrow.

[2016-03-05 20:24] bitwalker commented on #117
Fixed diffing of weeks, months, years, and added diffing by calendar weeks as well. Closing this for now, feel free to reopen it if you find issues in 2.x when I release it sometime today (or tomorrow morning).

[2016-03-05 20:24] #117 closed

[2016-03-07 17:54] bitwalker opened #124 "Relative/Calendar time formatters/parsers"
These two are common use cases for formatting dates/times, so I'd like to add them as part of Timex rather than relying on plugins for them.

Relative Time (based on Moment.js)

| Range | Key |	 Sample Output |
|----------|-----|---------------|
| 0 to 45 seconds | s  |  a few seconds ago
| 45 to 90 seconds  |  m |   a minute ago
| 90 seconds to 45 minutes  | mm  |  2 minutes ago ... 45 minutes ag

[2016-03-07 17:56] bitwalker opened #125 "l10n support via gettext"
I want to make formatting/parsing locale-aware, so I plan on looking up the locale data and using gettext to implement it, and modifying the API to take a locale, as well as setting a default locale via configuration.

- [x] Obtain translations
- [ ] Add support for detecting locale
- [ ] Add API support for specifying locale
- [x] Add configuration support for setting default locale

[2016-03-07 17:58] bitwalker opened #126 "Expand test suite to include property-based testing"
I want to use [ExCheck](https://github.com/parroty/excheck) to add QuickCheck-style tests for the full API, so that I can expose any lurking bugs.

Part of this effort is also attempting to achieve 100% test coverage, which is in progress, but will help validate that there are no untested code paths.
- [x] Evaluate ExCheck
- [ ] Determine what properties are testable with ExCheck
- [ ] Write test

[2016-03-07 18:00] bitwalker opened #127 "Add ASP.NET token to the default formatter/parser"
Add a token, `{ASP.NET}` to the Default tokenizer, so that it can be used to parse and format datetime strings coming from or going to .NET services

[2016-03-07 18:03] bitwalker opened #128 "Add backend + plugin support for calendars other than Gregorian"
This requires refactoring the internals to consume a Calendar protocol, moving calendar-specific code into protocol implementations, and figuring out the best way to work with multiple calendars in the API.

Should probably prototype this with the Julian calendar so that I can get a feel for how the API works.
- [x] Implement Calendar behaviour
- [x] Implement Gregorian calendar (aliased as ISO)
-

[2016-03-07 18:05] bitwalker opened #129 "Add support for calendar-style recurring datetimes to Interval"
This would permit expressing intervals like "the third Sunday of every month"

[2016-03-09 13:44] marcelog opened #130 ":invalid_timezone when using Timex.parse/3 on a date string generated with Timex.format/3"
Hello!

I've stumbled upon the following issue while upgrading from 1.0.0 to 2.0.0 and running my own tests that use randomly chosen timezones.

The issue in question is that when using `Timex.parse/3` to parse a string created by using `Timex.format/3` (and with some specific timezones), will yield an error because of it not recognizing the timezone string.

It seems to me that this operation sho

[2016-03-09 15:25] bitwalker commented on #130
The reason why this doesn't work is because parsing zone abbreviations is ambiguous, and so not supported. For instance, CST is a valid zone abbreviation in several places, each one with different semantics. NZDT is a valid zone in more than just the "Antarctica/McMurdo" locale, and so there is no way to parse the same zone from that string.

However there is a change I am going to make here, whic

[2016-03-09 15:47] marcelog commented on #130
Thanks for the quick reply! Understood, and it makes total sense.

One last (and hopefully not too dumb) question: Did this behavior change somehow in 2.0 (i.e: the string generated by %Z)? The code and the tests didn't change in essence, and the tests were run **tons** of times with 0.x and 1.x, throughout the last months, and this issue didn't manifest itself until now.

[2016-03-09 15:59] bitwalker commented on #130
The behavior with what abbreviations are supported (I.e only POSIX zone names) changed in the last 1.x release. The previous behavior was actually broken, because the zone you got back for a given abbreviation may not have been the same one that generated it, resulting in incorrect behavior of that value was then manipulated in any way. This was actually documented but was a hack until I could wri

[2016-03-09 16:03] bitwalker commented on #130
Damn phone haha

What I was saying was if you are getting failed tests now, there is probably a real issue there rather than a timex bug per se, however please open issues so I can review and make sure, just like this one :)

I'm working on a comprehensive test suite right now so that I can make guarantees that a release is sound, but there are still gaps sadly.

[2016-03-09 16:20] marcelog commented on #130
Gotcha :) Another timezone/locale :facepunch:!

So for completeness sake (and also in case you have any useful comments) I'll try to fully describe what we're doing.

* The users in our system are able to choose a timezone so they can receive events and generate reports in their own timezone.
* Both the tests and our users choose a timezone from this list https://github.com/bitwalker/timex/blob/2.

[2016-03-09 17:02] bitwalker commented on #130
@marcelog You can use that `olson_to_win` list as a short list of zones, but to get the full list, you'll want to use `Timex.timezones/0` (this is coming in the release I'll be making here in an hour or so), which will feed you a list of all valid timezones in the Olson database. The list in that file is simply the map of Olson zones to timezones found in Windows, but is definitely not a complete

[2016-03-09 17:40] marcelog commented on #130
Great, I look forward to the new release!

Thanks a lot for your help, I really appreciate it :)

[2016-03-09 18:34] bitwalker commented on #130
@marcelog I just pushed 2.1.0 containing the changes above, plus a number of other things, take a look at the changelog if you're interested in what those all are, let me know if you run into any issues and I'll take a look right away.

[2016-03-09 18:34] #130 closed

[2016-03-09 18:39] marcelog commented on #130
That's great @bitwalker, thanks for the heads up! I will be able to look at this later this evening, in about 2-3 hours, so I will definitely let you know of any comments I might have.

Best! :)

[2016-03-09 21:45] marcelog commented on #130
Everything looks great so far, great release! Thanks!

[2016-03-09 22:08] bitwalker commented on #130
@marcelog That's great to hear :), ping me if you spot anything!

[2016-03-11 03:51] baoist opened #131 "Upgrading From 1.0.0 (timex_ecto 0.7.0) to 2.1.0 (1.0.1)"
### Steps to reproduce

- `Timex.set(%Timex.Date{}, month: Timex.month_to_num(month), year: year)`,
  `Repo.update(changeset)`
- "January", 2012

### Description of issue

- What are the expected results?
When attempting to create/update a `Timex.Ecto.Date` field I get the following error:
[code]

I've updated to the most recent `timex` and `timex_ecto` (at the time 2.1.0, and 1.0.1, respectively)

[2016-03-11 04:26] bitwalker commented on #131
I'll take a look ASAP, thanks for reporting!

[2016-03-11 04:45] #131 closed

[2016-03-11 04:46] bitwalker commented on #131
I've pushed a new release 1.0.2 of timex_ecto with the bugfix for this. It was a stupid issue, I definitely need a proper test suite for timex_ecto :/

[2016-03-11 06:11] baoist commented on #131
Thanks for getting this out so quickly!

That resolves one issue, but it comes up with another:
[code]

I think that `postgres/datetime.ex` maybe doesn't like the `{{y, m, d}, {h, m, s}}` format that `Timex.to_erlang_datetime` outputs (refer to: https://github.com/elixir-lang/ecto/blob/master/lib/ecto/adapters/postgres/datetime.ex#L36).

Around https://github.com/bitwalker/timex_ecto/blob/master/l

[2016-03-11 06:34] bitwalker commented on #131
@baoist Ok, this time I spent extra time actually roundtripping all the types to the database and back a few different ways. New release is 1.0.3. Should be solid now!

[2016-03-14 00:20] ibizaman opened #132 "How do you use Timex.Ecto.* as column default value?"
How would you define a default value for a `Timex.Ecto.*` column? I tried the obvious, using `Timex.Date.from` but it does not work when using `mix ecto.migrate` because `:tzdata` is not yet started.

[code]

[code]

Is there a workaround or is this not achievable?
I am still using timex 1.X.X.

[2016-03-14 00:26] bitwalker commented on #132
Add `Application.ensure_all_started(:timex)` at the top of the module, but you can also use an Erlang datetime time as the default, I believe, that might be worth trying first, that or constructing the DateTime struct manually, especially since it's UTC, the default DateTime value is UTC, so you really just have to set the date fields.

Anyway, those are a few options :)

[2016-03-14 02:00] ibizaman commented on #132
The erlang datetime struct does not work as default, I get:
[code]

Although creating the datetime struct directly works great:
[code]

Thanks!

[2016-03-14 02:00] #132 closed

[2016-03-14 02:08] ibizaman opened #133 "How to use Timex.Ecto.DateTime as column type in schema migration easily?"
Here is what I have came up with to handle migrations with a table having a Timex.Ecto.* column type. This setup works fine although I would like to get rid of the separate `ALTER` statement.

[code]

Do you have an idea how to do that?

[2016-03-14 02:39] bitwalker commented on #133
Let me do some experimenting and get back to you, I think we can find a better way

[2016-03-14 04:41] sikanhe opened #134 ":erlang.system_time vs :os.system_time (Time.now)"
I think the :erlang version is preferred over the :os version in erlang 18, because :erlang supports time warp and is a monotonically increasing time (:os is not).

[2016-03-14 04:48] bitwalker commented on #134
That's probably a good change to make, I also need to update the measure/elapsed functions to use `monotonic_time` instead of the current diffing method. I'll add that to my TODO for the next release.

[2016-03-14 04:53] sikanhe commented on #134
After looking into some past issues, i saw the reason why you changed it to :os was because:

https://github.com/bitwalker/timex/issues/112

[2016-03-14 05:30] ibizaman commented on #133
Awesome, thanks!

[2016-03-14 05:40] bitwalker commented on #134
Ah, sure enough, I knew I had chosen it for a reason, but going back and reviewing the documentation for this issue didn't jog my memory. I still need to make changes for measure/elapsed, so I'll keep this open as a reminder, but after reviewing that issue, I think I'll keep the current usage of `:os.system_time`, unless there is an alternate solution for #112 that allows us to both resolve the sl

[2016-03-14 06:17] sikanhe commented on #134
perhaps by using some kind of configuration, allow you to set it differently in :dev and :prod

[2016-03-14 14:18] keichan34 commented on #125
@bitwalker I've been looking over this to see what it'll be like when it's time to translate (planning on submitting a Japanese translation), but one problem I noticed is that in the `relative_time` and `units` domains, `dngettext` isn't being used for strings that have plural forms, like `in %{n} day`, `in %{n} days`, etc.

I can put together a PR for this in the next day or so if you'd like, but

[2016-03-14 14:57] bitwalker commented on #125
Hey! I'd love that! The localization stuff is still a work in progress for sure, for one thing, the Russian forms for numbers of things have more than single and plural forms, there is the concept of few vs many and occasionally rules like "x every year, but y on decades only". I know Russian decently enough to handle the translation, but finding a system which works for complex rules like that is

[2016-03-14 15:46] bitwalker commented on #134
That is an option - the default config could use `:os.system_time`, and it could be overridden to allow the use of `:erlang.system_time`, something like:

[code]

[2016-03-14 18:54] sikanhe commented on #134
ah! thanks

[2016-03-15 19:46] bitwalker commented on #134
I've added this (though not yet committed to master), so it will show up in a future release. I'll close this for now, but I'll update this thread when a release is pushed and we can reopen it if there are issues.

[2016-03-15 19:46] #134 closed

[2016-03-20 22:01] tallakt opened #137 "RFC: Deprecate Timex.compare and change Timex.diff to a signed integer result"
[code]
According to the docs, the result should be signed. Timex version 2.1.1

[2016-03-20 22:22] bitwalker commented on #137
@tallakt I believe the reason I changed this was because a signed diff didn't seem useful to me when one could use `compare` to determine the past/future relation. It's easy enough to change back, but I suppose my question is: do you rely on the signed result? Is it a useful property of the function compared to returning the diff as a non-negative integer always, and using compare to determine how

[2016-03-20 22:25] tallakt commented on #137
I would rather just use `diff` and then normal operators for comparing the results rather than the `-1, 0, +1` result which feels alot like C++ to me. That's my opinion anyway. But I don't feel very strongly about it, but as a minimum, we should update the docs.

[2016-03-20 22:36] bitwalker commented on #137
Agreed on the docs. I'll think about these two functions in general and post back here with my decision. Chances are I will deprecate `compare` and just lean on `diff` for double duty moving forward, but I want to think it through before I decide.

[2016-03-20 22:40] bitwalker commented on #137
I've updated the docs in the meantime

[2016-03-22 18:43] tallakt commented on #137
After giving it a bit of thought, it is probably more intuitive that dates arithmetic with dates behave like with normal numbers, with signed results, eg:

[code]

[2016-03-22 19:10] bitwalker commented on #137
@tallakt Agreed. I think I'll make that change sooner rather than later, because I don't want the current behaviour to become too entrenched.

[2016-03-25 10:35] burmajam opened #139 "No match of right hand side value: [] for Timex.Timezone.convert/2"
### Steps to reproduce

- API function called
Timex.Timezone.convert tx, tz
timex version: 0.19.5

- Arguments provided
dt = {{2016, 3, 27}, {1, 10, 0}}
tx = Timex.Date.from(dt, "UTC")
tz = "Europe/Vienna"

### Description of issue

- What are the expected results?
UTC (Time Zone)           Sunday, 27 March 2016, 01:10:00 UTC  UTC
Vienna (Austria - Vienna) Sunday, 27 March 2016, 03:10:00 CEST UTC+

[2016-03-25 16:23] bitwalker commented on #139
This is fixed in 2.x (and likely in 1.x as well). Can you upgrade?

[2016-03-27 17:13] JustMikey opened #141 "Problem with Timex.shift"
So I have a phoenix model where I use Timex.Ecto.Datetime for some of my columns.

Now when I update one of those column setting the column's value to `Timex.DateTime.now` and then retrieve the record and get that column's value, I get a struct

`#<DateTime(2016-03-27T16:59:54Z)>`

that turns into a map like this:

[code]

Now the problem appears when I try to shift this retrieved struct like this

[2016-03-27 17:20] bitwalker commented on #141
Turns out the problem is actually in `timex_ecto`, it's getting microseconds from the Ecto type, and not converting that to milliseconds, and the guard clause for resolve ensures that the date/time provided is within valid ranges - of which milliseconds is 0-999. I'll get a fix pushed shortly into `timex_ecto` and update this thread.

[2016-03-27 17:27] JustMikey commented on #141
Oh I see, thank you very much;

[2016-03-27 17:39] bitwalker commented on #141
Both timex and time_ecto have updated versions on hex now. You'll need both in order for the fix to work - timex was only allowing integer milliseconds, and rather than lose the precision, I've updated it to allow fractional milliseconds.

[2016-03-27 17:39] #141 closed

[2016-03-28 13:38] mkummer opened #142 "Problems with timezone conversions around the end of daylight saving time"
### Steps to reproduce

I just stepped across several difficulties converting timestamps from my local time zone to UTC and back, when they are occurring around the end of daylight saving time (the change occurred Oct 25 2015, 01:00 UTC).
Trying to convert a datetime right after the 'extra' hour when daylight saving time was ending last fall from my local timezone (Zurich) into UTC fails:
[code]
T

[2016-03-28 15:37] bitwalker commented on #142
Interesting that this doesn't occur with some other DST-related tests. I've done some review though, and I think I see where the issue is. I'll update this thread once I have a fix pushed. Thanks for the detailed report!

[2016-03-28 16:45] bitwalker commented on #142
@mkummer I did find one assumption that is incorrect here:

Actually that time is ambiguous according to the wall clock. Here's what is in the Olson timezone database:

[code]

As you can see, there is an overlap in wall time between the two zones, which represents how time is perceived locally. As you described, the hour occurs twice, however neither zone can be said to own the time of 2-3 AM, it

[2016-03-28 18:06] mkummer commented on #142
@bitwalker : first of all many thanks for your quick response!

Regarding my remark about `Timex.datetime({ {2015, 10, 25}, {00, 12, 34} }, "UTC") |> Timex.Timezone.convert("Europe/Zurich")` not being ambiguous: according to my understanding so far, the timestamp in UTC I start with clearly is not ambiguous, and simply converting it to my local timezone shouldn't make it ambiguous either, as at th

[2016-03-28 19:43] #142 closed

[2016-03-28 19:43] bitwalker commented on #142
@mkummer Just to be clear, I have found some edge cases due to this, so not everything is correct by the Olson database either.

Regarding converting from `2015/10/25 00:12:34 UTC` to `Europe/Zurich` - the timestamp you start with in UTC may be valid/unambiguous in UTC, but according to the timezone database at this exact time in UTC, there are two timezones in effect according to wall time, even

[2016-03-28 19:54] mkummer commented on #142
Perfect, that's an awesome service, thank you. Your fixes are effective indeed as from what I can tell after a few tests.

Regarding your question, I support your opinion of keeping the ambiguity and letting the application code handling the case; I think this is the more universal approach.

[2016-03-28 20:03] bitwalker commented on #142
@mkummer Great to hear :)

If you run into any other edge cases, or have any further questions about how Timex handles shifting across timezones, feel free to open an issue anytime. I like having a history of bug reports/discussions to go through, helps other people as much as it helps myself sometimes :)

[2016-03-30 14:14] shamanime opened #144 "Problem when shifting a date one month back and it ends up in February 30"
### Steps to reproduce

This is the code:
[code]
### Description of issue

It should move one month back, respecting the last day of the previous month.

Right now, seems like it tries to convert the date to 2016-02-30 and fails because February doesn't have 30 days.

[2016-03-30 16:06] bitwalker commented on #144
Ah damn, I handle this in the other shift code, but just changed this in the Timezone module to use it's own shift implementation to avoid infinite recursion. I'll get a fix in today.

[2016-03-30 18:03] #144 closed

[2016-03-30 18:03] bitwalker commented on #144
This is now fixed and pushed in to hex in 2.1.4

[2016-03-30 18:13] shamanime commented on #144
Like a boss! Thank you!

[2016-04-02 01:39] brado opened #148 "No DateTime comparison which compares both date and time?"
I've spent several hours testing out the DateTime comparison and diff functions. I also read through some of the source code, and if I have understood it correctly, the compare function does not compare the date *and* the time. In other words, two DateTimes with the same date but different times will compare as being equal, and if granularity (such as seconds) is selected, it compares only that sp

[2016-04-02 01:52] bitwalker commented on #148
DateTime comparison (and the same for Date) works by converting to seconds since the Gregorian epoch and then comparing by granularity. Do you have a specific example where this is broken? If you are seeing incorrect diffs, then there is a bug for sure.

[2016-04-04 10:56] burmajam commented on #139
I've tried it with 2.1.4 and works as expected. Thanks!

[2016-04-04 10:56] #139 closed

[2016-04-04 16:32] frpaulas opened #152 "diff in weeks seems to be off"
### Steps to reproduce

- d1 = Timex.date {2016, 3, 27}
- d2 = Timex.date {2016, 4, 3}
- Timex.diff d1, d2, :days # => 7
- Timex.diff d1, d2, :weeks # => 0

### Description of issue

- if the diff in days is 7 I would expect the diff in weeks to be 1

[2016-04-05 20:04] brado commented on #148
I spent some more time testing this, and it turns out what appeared as an issue with the date comparison was actually an unexpected artifact of having functions called in separate processes asynchronously. It was a very cagey problem to get to the bottom of, but eventually I did. It was a little difficult to product a very small block of code to demonstrate this, so I didn't post it here. But suff

[2016-04-05 20:04] #148 closed

[2016-04-06 15:14] Ygreg opened #156 "Parsing am/pm time ignores {AM} when it's before {h12}"
### Steps to reproduce

[code]

### Description of issue

Both lines should output `#<DateTime(0-01-01T15:00:00Z)>`

This happens because:
-First Timex.Parse.DateTime.Parser.update_date call with the :AM token expects hour to already be set and modifies it
-Second Timex.Parse.DateTime.Parser.update_date call with the :hous12 token sets the hour, discarding the value from the call with the :AM toke

[2016-04-09 20:34] Theemuts opened #157 "Timex.DateTime.now/1 raises when DateTime is ambiguous"
### Steps to reproduce

To reproduce, set the system clock to a datetime which will occur twice in a specific timezone (e.g. 2016-10-30 02:00:00 in Europe/Amsterdam. If you call Timex.DateTime.now("Europe/Amsterdam"), it will raise due to a missing key.

### Description of issue

This function shoud return a Timex.AmbiguousDateTime-struct to reflect the fact that the datetime is ambiguous in this

[2016-04-12 16:34] mindreframer opened #158 "Dateshifting for 20 months for 2016,4,X fails."
### Steps to reproduce
[code]

### Description of issue

[code]

[2016-04-12 23:36] mikelat commented on #124
I'm using the relative formatter to show how long ago articles were submitted to a database. If they submit the article themselves, on the next page the relative date formatter displays "In 0 seconds", since there was a time difference of 0, which doesn't make much sense since in the context.

It should probably display something like "Right now".

Thanks

[2016-04-13 20:27] myronmarston opened #159 "Can't use `Timex.Date.shift/2` to generate a module attribute value"
### Steps to reproduce

We've been using Timex 0.19.2 for awhile and decided to try and upgrade to the latest.  When compiling, I get an error:

[code]

Looking at the `test/support/time_slice_helpers.ex`, I found the problem:

[code]

This `@traffic_dates` module attribute is essentially a constant that is used in multiple functions in this module.  `Date` here is one of our modules, and if I rep

[2016-04-24 23:35] arthurcolle opened #161 "Different output from documentation - intended?"
### Steps to reproduce

- Date.today, DateTime.today
- none

### Description of issue

- According to the documentation provided [here](https://hexdocs.pm/timex/Timex.html), the expected output, for example on an iex session, should be:
[code]
However, for me using Elixir 1.3.0-dev it actually is:
[code]
Is there a way (for experimentation) to be able to see all of the fields, as the documentation

[2016-05-02 10:16] gutschilla commented on #158
addressed in https://github.com/bitwalker/timex/pull/165

[2016-05-05 16:19] benwilson512 opened #168 "Performance Issues"
Hey!

After running into some issues with the performance of TimexEcto (documented here: https://github.com/bitwalker/timex_ecto/issues/26) I thought I would do some overall profiling and created

https://github.com/benwilson512/time-bench

TL;DR:

# TimeBench
## DateTimeFormatBench
[code]
## DateTimeParseBench
[code]
## EctoDumpBench
[code]
## EctoLoadBench
[code]
## ErlToIsoZBench
[code]

Obviou

[2016-05-06 00:22] nsimonson opened #169 "format! type spec fails incorrectly"
### Steps to reproduce

`Timex.DateTime.now |> Timex.format!("{ISO:Extended}")`
run `mix dialyzer`

### Description of issue

The dialyzer type spec fails with the error
[code]

[2016-05-08 21:01] pragmaticivan opened #170 "Hex.pm Description"
- What are the expected results?
Hex expect a small description.  The description is supposed to be a few paragraphs at most.
Check here: https://github.com/hexpm/hex_web/issues/326

- The current description is too big and It's creating a bad visualization of the package on Hex.PM: https://hex.pm/packages/timex

[2016-05-09 15:13] bitwalker commented on #170
Sure, easy enough to fix. Thanks!

[2016-05-09 16:57] nsimonson commented on #169
I emailed the author of dialyzer. He's not well versed in Elixir, but maybe had some insight into tracking down this bug.

[2016-05-09 20:17] #170 closed

[2016-05-10 00:41] craigbeck commented on #159
Found I had a similar issue with an `:ets.lookup` call and followed it to the `tzdata` package needing to be started -- see [Getting Started](https://github.com/lau/tzdata#getting-started) section of the [tzdata](https://github.com/lau/tzdata) repo.

After I added `:tzdata` to the list of `applications` to be started in my `mix.exs` file the issue was resolved.

without starting `tzdata`:

[code]

[2016-05-15 04:25] g33kidd commented on #161
Yeah I keep getting the same thing, has anybody figured this out?

[2016-05-16 14:31] bitwalker commented on #168
One of the problems here is that you are not calling equivalent functions between Calendar and Timex. For example, `Timex.from` runs through a protocol, and has to pattern match to determine what type of input value it's dealing with. The direct equivalent to the Calendar function called is `Timex.DateTime.from_erl`.

Likewise, RFC-3339 and ISO-8601 are not identical, Timex exposes an `{RFC3339z}`

[2016-05-19 21:44] nickgartmann opened #174 "Timex.shift/2 gives wrong year when shifting by negative months over a year boundary"
But only if it is a shift less than 12 months, and doesn't end up in December (12)

### Steps to reproduce

- `Timex.shift/2`
- `%Timex.Date{years: 2016, months: 5, days: 19}, months: -6`
[code]

### Description of Issue
This works for any negative month number that causes a result in November or earlier in the previous year. It works as intended for results in December (using `months: -5` gives t

[2016-05-20 22:43] bitwalker commented on #159
More specifically you need to add Timex to `applications`, as Timex already has `tzdata` in it's applications list, but either one works.

[2016-05-20 22:43] #159 closed

[2016-05-20 22:43] bitwalker commented on #157
Good find! I'll get this addressed in the next release. Thanks!

[2016-05-20 22:44] craigbeck commented on #159
Thx!

-- 
Craig Beck

On May 20, 2016 at 3:43:21 PM, Paul Schoenfelder (notifications@github.com) wrote:

More specifically you need to add Timex to applications, as Timex already has tzdata in it's applications list, but either one works.

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub

[2016-05-20 22:45] myronmarston commented on #159
@bitwalker we have `timex` in our list of applications and were still getting the compile-time error I mentioned above.  Would you expect these functions to work at compile time?

[2016-05-20 22:57] bitwalker commented on #174
Fixed in #175

[2016-05-20 22:57] #174 closed

[2016-05-20 22:59] bitwalker commented on #159
No, you'd need to start `tzdata` using `Application.ensure_all_started(:tzdata)` prior to where you define the module attribute - putting applications in the applications list is only relevant at runtime, not compile time.

[2016-05-20 23:00] bitwalker commented on #124
Thanks for the feedback @mikelat, sorry for the delay. I'll get that addressed in the next release :)

[2016-05-24 02:34] bitwalker commented on #156
Pending a rebase of your PR, I'll close this out :)

[2016-05-24 03:02] bitwalker commented on #161
This output is just how those structs are represented with the Inspect protocol implementation. If you run `inspect Date.today, structs: false`, it will show the raw struct. The data is still the same :), I just need to update the docs to reflect the new output.

[2016-05-24 03:02] #161 closed

[2016-05-24 13:15] Ygreg commented on #156
Sorry, but my PR was for another bug, which has been already fixed in master. This is another issue I found at the same time. I've described what happens, but I don't know how to fix this one.

[2016-05-26 15:48] PragTob opened #176 "Timex.format! may defer for the same input (integer vs. float)"
First thanks for timex and especially for the effort to have the calendar types in Elixir 1.3!

(timex version 2.1.4, also checked on master and happens there ass well)

### Steps to reproduce

[code]

### Description of issue

I'd expect the output to be the same as the input only differs by millisecond being 0 vs 0.0. E.g. it should be one of "2016-02-14T12:34:00.000Z" or "2016-02-14T12:34:00Z"

[2016-05-27 17:08] jeffreybaird opened #178 "strftime parsing for timezones doesn't work."
### Steps to reproduce

`Timex.parse("10/Oct/1999:21:16:02 +0500", "%d/%b/%Y:%H:%M:%S %z", :strftime)`

- Timex#parse
- "10/Oct/1999:21:16:02 +0500", "%d/%b/%Y:%H:%M:%S %z" :strftime

### Description of issue

Expected: {:ok,
 %Timex.DateTime{calendar: :gregorian, day: 10, hour: 21, millisecond: 0,
  minute: 16, month: 10, second: 2,
  timezone: %Timex.TimezoneInfo{abbreviation: "ET", from: :min,

[2016-05-28 10:12] jeffreybaird commented on #178
This isn't an issue. I just needed to add the following lines to my project:

`def application do
    [applications: [:timex]]
end`

[2016-05-28 10:12] #178 closed

[2016-06-03 15:24] myronmarston commented on #137
FWIW, I'm working on upgrading to 2.0 and the fact that `diff` is no longer signed (compared to 0.x and 1.x) is giving me trouble.  I've implemented our own `diff` function that delegates to `Timex.diff` and restores the sign based on `compare` but it feels like I shouldn't have to do that.  It would be like if a math library defined `-` to always return the abs value, so that `5 - 10` returned `5

[2016-06-03 15:40] myronmarston commented on #137
By the way, the signed behavior of `diff` in Timex 0.x and 1.x worked the opposite of how I expected.  In my mind, I thought of `diff` as the equivalent of subtraction for date math -- so just as `10 - 15` is negative, I expected `diff(may_10_2016, may_15_2016, :days)` to return `-5` and `diff(may_15_2016, may_10_2016, :days)` to return `5` -- but it does the opposite.  Reading the [old docs](http

[2016-06-04 13:12] sphaso opened #182 "Timex parse RFC1123z example in doc returns error"
### Steps to reproduce
[code]
Did the accepted format change? if so, what is it?
The first statement is from the documentation: https://hexdocs.pm/timex/parsing.html

[2016-06-07 17:21] bitwalker commented on #182
Yeah the docs are slightly incorrect, I'll get those updated. `{RFC1123z}` expects only zulu-formatted timestamps (i.e. `Tue, 06 Mar 2013 01:25:19 Z`). Use `{RFC1123}` with offset-formatted timestamps (i.e. `Tue, 06 Mar 2013 01:25:19 +0200`).

[2016-06-07 17:21] #182 closed

[2016-06-09 14:11] eproxus opened #184 "DateTime relative formatter broken for -1 minute"
### Steps to reproduce

[code]

### Description of issue

The relative datetime formatters returns `"-1 minutes ago"` instead of `"1 minute ago"`.

[2016-06-09 14:14] eproxus opened #185 "DateTime relative formatter shows "in 0 seconds" instead of "0 seconds ago""
### Steps to reproduce

[code]

### Description of issue

The relative datetime formatters returns `"in 0 seconds"` instead of `"0 seconds ago"` when the time is now.

[2016-06-10 11:45] eproxus commented on #185
Maybe it should even be `"now"` when the time is around 0 seconds.

[2016-06-17 15:07] #169 closed

[2016-06-22 19:51] cjhowe commented on #184
Might I suggest a pull request with a failing test?

[2016-06-24 12:47] PragTob opened #188 "Changelog updates"
Seems like the changelog hasn't been updated since 2.1.3 - would love to have those intermediate updates to make upgrading less of an adventure in the unknown :)

I know it's a bit tedious to maintain, I think it's really helpful for users to look at and also cool from a maintainer's point of view to see what was accomplished :)

PS: Thanks for timex :)

[2016-06-24 15:23] bitwalker commented on #188
Indeed I have slacked off on this, I've got an update for 1.3 coming very soon, I'll update the changelog as part of that release :)

[2016-06-25 08:37] PragTob commented on #188
Cool, thanks!

Personally, I like to add things to the Changelog as updates come in (i.e. after merging a PR or so) - keeps it updated all the time and nice overview of the release :)

[2016-06-28 08:28] joerixaop opened #190 "Comparing DateTime with <="
Would it be possible to document that this gives the wrong results?

(Had something else written here first, but that doesn't work if I'm not mistaken)

[2016-06-28 17:13] fatfalcon opened #191 "Argument Error when using DateTime"
On a Mac.

[code]

[2016-06-28 17:41] fatfalcon commented on #191
Maybe this needs to be tracked over at TZData? - https://github.com/lau/tzdata?

[2016-06-28 17:46] fatfalcon commented on #191
Found the problem; those encountering the same problem must add tzdata to the list of applications as suggested here - https://github.com/lau/tzdata/issues/5

[2016-06-28 17:46] #191 closed

[2016-06-28 21:45] binarylogic commented on #124
Just wanted to say thanks for this. Any idea when the relative parser will be available? I looked at the branch and would love to contribute. Wasn't sure of the status though.

[2016-06-29 00:37] bitwalker commented on #191
You can just add `:timex` to the applications list, as it already has `:tzdata` in its own applications list.

[2016-06-29 00:42] bitwalker commented on #190
I should document that, but it should be noted that this is a limitation of the language, comparing structs like this has no well defined behavior as far as I know, and cannot be overridden. This is why timex exposes the `compare/2` and `compare/3` functions.

[2016-06-29 00:45] bitwalker commented on #124
@binarylogic once the release for Elixir 1.3 drops on Wednesday I'd be glad to provide guidance on the implementation, currently there is not a relative parser in progress, but building one is fairly straightforward :)

[2016-06-29 01:29] bitwalker commented on #185
Yeah it should be "now", I'll get that fixed

[2016-06-29 03:22] binarylogic commented on #124
Absolutely, I'd love to knock that out. I have a project that needs it. Let me know how / when you want to talk and I'll get started.

[2016-06-29 03:57] binarylogic commented on #124
Also, elixir 1.3 was just recently released.

[2016-06-29 03:58] bitwalker commented on #124
@binarylogic yeah I mean the Timex release for 1.3 ;)

[2016-06-29 04:01] bitwalker commented on #124
@binarylogic 1.3 introduced calendar types, so the types Timex introduced a long time ago are no longer necessary. Because of the new calendar API, I'm refactoring Timex to use those types instead, hence what I mean by "Timex release for 1.3".

[2016-06-29 04:05] binarylogic commented on #124
Awesome, sounds great. I'll keep an eye out and jump in when that's released.

[2016-07-13 00:51] #190 closed

[2016-07-13 00:52] bitwalker commented on #188
I've updated the changelog along with the newest release, I'll keep it up to date from now on :)

[2016-07-13 00:52] #188 closed

[2016-07-13 00:52] bitwalker commented on #185
Fixed in 3.0

[2016-07-13 00:52] #185 closed

[2016-07-13 00:56] #184 closed

[2016-07-13 00:56] bitwalker commented on #176
This should now be fixed in 1.3. Could you check with master?

[2016-07-13 00:57] bitwalker commented on #168
Closing this since it's open in timex_ecto already, and has been addressed across the past few releases. I'll keep tweaking things as well :)

[2016-07-13 00:57] #168 closed

[2016-07-13 00:58] bitwalker commented on #158
Closing since this has already been fixed.

[2016-07-13 00:58] #158 closed

[2016-07-13 00:59] bitwalker commented on #157
Fixed in master

[2016-07-13 00:59] #157 closed

[2016-07-13 01:16] #156 closed

[2016-07-13 01:17] bitwalker commented on #152
Fixed in master

[2016-07-13 01:17] #152 closed

[2016-07-13 01:18] bitwalker commented on #137
@myronmarston This has been merged into master and the behaviour is exactly as you describe it, putting an older date before a newer one returns a negative value, and vice versa. The same behaviour as compare.

[2016-07-13 01:18] bitwalker commented on #137
This RFC has been merged in 3.0, so the diff behaviour is again signed.

[2016-07-13 01:18] #137 closed

[2016-07-13 01:19] bitwalker commented on #125
Closing this, as the support has been merged, as have several locales. Thanks everyone for helping!

[2016-07-13 01:19] #125 closed

[2016-07-13 05:07] PragTob commented on #188
Thank you, that's great to hear!

[2016-07-13 08:32] eproxus commented on #185
Thanks for the fix, works brilliantly!

[2016-07-13 08:34] eproxus commented on #184
Thanks for the fix!

[2016-07-15 16:15] bitwalker commented on #176
Confirmed this is fixed in 3.0

[2016-07-15 16:15] #176 closed

[2016-07-16 09:07] PragTob commented on #176
Argh sorry forgot the check :/ thanks for doing and fixing this!

[2016-07-16 12:23] Chicker opened #195 "The function Timex.local(Datetime) return the wrong result"
Hello, all.

The function `Timex.local(Datetime)` return the wrong result. It should return the given date/time in the local timezone.
[code]

The right result can be obtained with the this function:
[code]
In the version 2.2.1 this bug is missing.

[2016-07-16 15:23] bitwalker commented on #195
Oh interesting, it shifted it by a rather large number of extra microseconds, I'm not sure why that would've happened, but I will take a look and get that fixed. Thanks for the report!

[2016-07-19 03:55] #195 closed

[2016-07-19 03:55] bitwalker commented on #195
Released in 3.0.4

[2016-07-19 23:02] taylorbrooks opened #198 "Parser Example Fails"
https://hexdocs.pm/timex/Timex.Parse.DateTime.Parser.html#parse/2

I get an error when trying to follow the example.
[code]

[2016-07-19 23:05] bitwalker commented on #198
I am unable to reproduce this with 3.0.4, both `Timex.Parse.DateTime.Parser.parse("2014-07-29T00:20:41.196Z", "{ISO:Extended:Z}")` and `Timex.parse("2014-07-29T00:20:41.196Z", "{ISO:Extended:Z}")` work for me.

[2016-07-19 23:13] bitwalker commented on #133
I'm going to close this for now. I haven't been able to find a cleaner way, though I haven't dived too deep into it. If you would like to reopen it, feel free to do so on the timex_ecto issue tracker, since it's likely to get more discussion there.

[2016-07-19 23:13] #133 closed

[2016-07-19 23:18] taylorbrooks commented on #198
I'm using 3.0.4.

Proof I'm not taking crazy pills:

![screen shot 2016-07-19 at 6 16 58 pm](https://cloud.githubusercontent.com/assets/117657/16969778/08350e42-4ddd-11e6-81e7-32365f8391b2.png)

[2016-07-19 23:19] ibizaman commented on #133
Too bad but thanks for the update.

[2016-07-19 23:19] bitwalker commented on #198
@taylorbrooks I think it's because you are on 1.3.0, there was something missing from it if I recall, can you try 1.3.2? I'll roll back to 1.3.0 and double check

[2016-07-19 23:22] bitwalker commented on #198
Well, that's not it either:

[code]

[2016-07-19 23:23] bitwalker commented on #198
Here's what I have checked out locally:

[code]

[2016-07-19 23:26] taylorbrooks commented on #198
Hmm, still fails for me on 1.3.2

[2016-07-19 23:27] bitwalker commented on #198
What version of Erlang?

[2016-07-19 23:29] taylorbrooks commented on #198
18

[2016-07-19 23:29] bitwalker commented on #198
I'm running 18.3 for reference, from the looks of your screenshot, you're on the same version, but that might help me figure out what's going on.

[2016-07-19 23:31] bitwalker commented on #198
As a sanity check, can you run `rm -rf _build && mix compile`? I am all out of ideas how this is broken for you, other than you have some old beams laying around on the code path.

[2016-07-19 23:52] taylorbrooks commented on #198
Still no dice. So weird.

[2016-07-19 23:55] bitwalker commented on #198
Can you dump the output of `cat mix.lock`?

[2016-07-20 00:30] taylorbrooks commented on #198
[code]

[2016-07-20 15:03] taylorbrooks commented on #198
When I specify `timex 2.2.1` in my mix file and try that function, this happens:

[code]

Not sure what this means, but at least its more descriptive.

[2016-07-20 15:14] bitwalker commented on #198
Ohhhh, add `:timex` to your applications list in `mix.exs`, that should fix it, the `tzdata` application isn't running, and it needs to be for timezone information.

[2016-07-20 15:24] taylorbrooks commented on #198
Ugh, I'm sorry. Next time I'll RTFM.

Closing.

[2016-07-20 15:24] #198 closed

[2016-07-20 15:26] bitwalker commented on #198
No worries :), I need to improve the error message when this happens, before it threw a really obvious exception, now it's returning a not particularly helpful error tuple, but that can be improved to identify exactly what's wrong, would never have seen it myself though!

[2016-07-21 00:02] marcelog opened #199 "Timex 2.2.1: ** (Timex.Parse.ParseError) Expected end of input for parsing dates using :strftime for certain timezones"
Hello,

I'm getting the following error with Timex 2.2.1:
[code]

As an example, the timezone America/Port-au-Prince exists as a valid Timezone when calling `Timex.timezones/0`.

The expected result would be to get a valid DateTime.

Perhaps I'm missing something?

Thanks in advance!

Update: this actually works:
[code]

[2016-07-29 08:26] baron opened #201 "to_unix truncates seconds"
I noticed that the replacement methods for the old "to_second" function seems to truncate the DateTime to seconds.

I'm not sure this is desirable default behavior since there is some loss of data and no fine-grained control for the developer.

### Steps to reproduce

- API function called
- Arguments provided

 Timex.now |> Timex.to_unix
 1469770928

In Timex 2.x it used to be:

use Timex
Time.no

[2016-07-29 23:25] bitwalker commented on #201
UNIX timestamps are always in seconds since the epoch, with no further precision. If you require high precision, you can use `Timex.to_gregorian_microseconds(datetime) - Timex.to_unix(Timex.epoch)`, which will give you microseconds since the epoch.

However, adding an overload to `to_unix` which takes precision as an argument, to simplify this use case, is a good idea so that's something I'll add

[2016-07-30 23:29] #199 closed

[2016-07-30 23:30] bitwalker commented on #199
Fixed in 3.0.5. I can potentially backport this fix if required, let me know.

[2016-07-31 00:07] marcelog commented on #199
Thanks for the fix!

We've upgraded to 3.0.0 (and now 3.0.5) since then, so *we* don't need the backport (although perhaps other might benefit from it!)

Cheers!

[2016-08-01 14:47] marcelog opened #203 "Error parsing Timezone names with "+""
Hello,

This is related to #199.

The character `+` is missing from the list of allowed characters for a time zone name, so functions like `parse!` fail with valid timezones like `Etc/GMT+0` (with _valid_ in this case I'm referring to time zone names that appear in the list returned by `Timex.timezones/0`).

Here's a sample run:

[code]

The character `+` can be added in https://github.com/bitwalk

[2016-08-01 16:34] bitwalker commented on #203
There is two ways to look at this. One the one hand, `%Z%z` should give you the same result as `%Z` with the fix you mentioned, as `GMT` is the base timezone name, and `+0200` is the offset, but due to the semantics of `GMT+0200` (it's actually `-2` hours from GMT, rather than `+2`), that likely would give an incorrect result. On the other hand, my feeling is that `%Z` should be able to parse `GMT

[2016-08-01 17:56] marcelog commented on #203
I see your point.. in Ruby, it seems like indeed %Z swallows the timezone name:

[code]

Adding the offset overrides the base time zone:
[code]

Using another time zone as base:
[code]

And it seems that in this case, both `%z` and `%Z` are accepted:

[code]

[code]

[2016-08-01 19:27] marcelog commented on #203
Yup, it's a total mess :\

A PHP example (uses the underlying libc implementation):

[code]

[2016-08-01 22:06] martinsvalin opened #204 "`to_datetime` doesn't accept 4-tuple time"
This is actually two issues, but there's only so much room in a title.

`Timex.Types.time` can be either 3-tuple or 4-tuple. The spec for `Timex.to_datetime` says it accepts datetime tuples, but it only implements for 3-tuples.

I would PR a fix, but when I started to look into it, I realised a more nefarious issue. The 4-tuple time type has _milliseconds_ in the last position, not _microseconds_.

[2016-08-01 22:19] bitwalker commented on #204
The type for the 4-tuple date/time should be removed. I'm not planning to support 4-tuples since the ambiguity between milliseconds/microseconds means that it's not particularly useful. With 1.3, it's better to construct Date/NaiveDateTime/DateTime using the new Calendar API, or 3-tuples with the `:calendar` API, rather than constructing tuples manually and passing them to Timex. As far as compati

[2016-08-02 06:08] martinsvalin commented on #204
Thanks for the reply. Dropping 4-tuples from the `time` spec sounds completely reasonable, and in that case there's no point adding support for them in `to_datetime`. I looked into this after a chat on the Elixir Slack, https://elixir-lang.slack.com/archives/general/p1470056747008242:

So I might continue digging through the Elixir ecosystem for datetimes to see why a 4-tuple is returned. It would

[2016-08-02 06:08] #204 closed

[2016-08-02 06:11] bitwalker commented on #204
I believe Ecto currently represents time with a 4-tuple, perhaps that would be worth looking into. I know Ecto will be moving to calendar types from 1.3 soon though, so I wonder if it's worth adding support for those. Still, it might answer the question of which of the two units to support.

[2016-08-07 20:24] mfclarke opened #205 "Parse ISO 8601 duration string"
Is there some way of parsing an ISO 8601 formatted duration string to a ```Duration``` object? It would be great to parse "P46Y7M20DT20H11M10.458638S" for example, into seconds. I had a good trawl through the docs but could only find parsing strings to ```Time```s, ```Date```s or ```DateTime```s.

Essentially I'm looking for the inverse of ```Duration.to_string``` ([docs](https://hexdocs.pm/timex/

[2016-08-07 21:13] bitwalker commented on #205
I just realized there is no parser for that. I just wrote one up, but I need to test it before pushing it to master. I'll follow up later today.

[2016-08-08 05:44] mfclarke commented on #205
Great! Many thanks @bitwalker

[2016-08-08 16:58] philipgiuliani opened #206 "Timex.shift fails with :timezone not found in: #<DateTime(...)>"
Hi! I am  currently migrating my app to Elixir 1.3 and Timex 3.0.
Im trying to add milliseconds to a DateTime. Adding seconds, days is working fine.

### Steps to reproduce

![bildschirmfoto 2016-08-08 um 18 55 29](https://cloud.githubusercontent.com/assets/5446019/17488476/e6440c08-5d99-11e6-8b0f-dda11913b7fc.png)

[code]

[2016-08-08 17:01] #206 closed

[2016-08-08 17:02] bitwalker commented on #206
Just pushed a fix for this, I'll get a new release cut today, after some other changes I'm working on are ready. Thanks for the report!

[2016-08-08 17:03] philipgiuliani commented on #206
Oh thank you very much!! :) This was really fast.

[2016-08-08 19:09] #205 closed

[2016-08-08 19:10] bitwalker commented on #205
This is in master now, you can use it with `Duration.parse(str)`. There is also support for custom duration parsers, but for now ISO-8601 is the only one baked in. Let me know if you run into any bugs and I'll take a look! Once you've given me the thumbs up, I'll cut a new release.

[2016-08-08 21:01] vmarcetic opened #207 "Compiling error"
I'm using Phoenix 1.2.0 and when I add {:timex, "~> 3.0"} to deps and try to start the app I get the following error:

[code]
Any thoughts?

[2016-08-08 21:09] bitwalker commented on #207
Could you try the following: `mix do deps.clean --all, deps.get, compile`. It looks to me like there was an issue fetching deps somehow, and causing hackney to fail during compilation. If that still doesn't work, could you run the command mentioned in the output from the `deps/hackney` directory?

[2016-08-08 21:31] vmarcetic commented on #207
`mix do deps.clean --all, deps.get, compile` stopped again on

[code]

I don't know why it says it is missing ceritifi-0.4.0 but I can see there is a certifi folder in `_build/dev/lib/`

[2016-08-08 22:30] bitwalker commented on #207
What do you get if you do the following:

- `cd deps/hackney`
- `~/.mix/rebar3 bare compile --paths "/Users/xxx/phoenix/timetrack/_build/dev/lib/*/ebin"`

It should be more verbose about the error.

[2016-08-08 22:33] vmarcetic commented on #207
Only this

[code]

[2016-08-08 22:34] bitwalker commented on #207
What version of Erlang and Elixir? And could you dump the contents of `mix.lock`? I'll see if I can reproduce.

[2016-08-08 22:37] vmarcetic commented on #207
Erlang/OTP 19 [erts-8.0.2]
Elixir 1.3.2

mix.lock dump:

[code]

[2016-08-08 22:48] bitwalker commented on #207
The latest version of Erlang I have available to me right now is 19.0 (ERTS 8.0). But with 19.0/1.3.2 I can't reproduce this behaviour, using the same mix.lock in a test project of mine. I'm at a bit of a loss :(. Unfortunately this appears to be an issue with mix or rebar3 rather than timex, so I'm afraid there's not much I can do to help here. I would open an issue on the Elixir issue tracker to

[2016-08-08 22:48] #207 closed

[2016-08-08 22:50] vmarcetic commented on #207
Thanks! I'll do that.

[2016-08-10 05:33] mfclarke commented on #205
Works perfectly for me. Thanks again @bitwalker!

[2016-08-12 21:59] justinbkay opened #208 "Implement Timex.Protocol for map"
Allow Timex to work with the build in Date Helpers in Phoenix.

Phoenix 1.2.0
ecto master
timex ecto 3.0.3
timex 3.0.5

protocol Timex.Protocol not implemented for %{"day" => "6", "month" => "9", "year" => "2013"}

When using a date helper in a form the cast in the changeset gives an error about not implementing a protocol for the datastructure %{"day" => "6", "month" => "9", "year" => "2013"}

[2016-08-14 18:06] bitwalker commented on #208
This is now implemented in master. Could you give it a try and let me know if things look good on your end?

[2016-08-15 13:13] aarvay commented on #120
Hey @bitwalker this error still persists.
Its wierd that this error crept in all of a sudden when no changes were made.
I'm basically trying to set a default value to a field in Ecto.Schema with Timex.now(tz) which was working and now erroring out with the same message. Adding `:tzdata` to application list didn't help either. A hacky workaround I came up with was adding `{:ok, _} = Application.ens

[2016-08-15 13:21] justinbkay commented on #208
Looks like it works.

On Sun, Aug 14, 2016 at 12:06 PM, Paul Schoenfelder <
notifications@github.com> wrote:

--
Sites:
http://jbkayconstruction.com
https://twitter.com/justinbkay
http://justinbkay.tumblr.com

It always takes longer than you expect, even when you take into account
Hofstadter’s Law.
- Hofstadter’s Law

[2016-08-15 17:03] bitwalker commented on #120
@aarvay Well, that's not actually a "hack", that's what you have to do in order to execute code at compile-time, which is what you are doing when setting the default value for the schema. All you need in your applications list is `:timex` by the way, as it has `:tzdata` in it's own applications list, but in any case, that's not the issue here, as your application is not started when compiling itse

[2016-08-15 18:27] aarvay commented on #120
@bitwalker Thanks for getting back. What I couldn't figure out was why this error started occurring all of a sudden when no change was actually made before and after it started to.

[2016-08-15 22:08] wleborgne opened #209 "`Timex.diff/3` documentation is incorrect"
### Steps to reproduce
Elixir 1.3.2, Erlang/OTP 19
Timex 3.0.6

From `iex`:
[code]
### Description of issue

According to the documentation at https://github.com/bitwalker/timex/blob/master/lib/timex.ex#L832, `Timex.diff/3` will always return a non-negative integer. However, the function is delegated to `Timex.Comparable`, where `diff/3` will return a positive or negative value depending on whethe

[2016-08-15 22:19] bitwalker commented on #120
@aarvay Based on the fix you described, it sounds like this is happening at compile time, I don't see how this could have worked with no code changes. Perhaps it was a change in how Ecto handles defaults? I don't have enough context to say with certainty, but those are basically the options. This error can only occur when the `:tzdata` application isn't started, and if you have `:timex` in your ap

[2016-08-15 23:57] bitwalker commented on #209
Ah yes, the docs are outdated here, I'll get that updated right away. Thanks!

[2016-08-15 23:57] #209 closed

[2016-08-17 15:27] obrok opened #210 "`Timex.Duration.scale/2` doesn't work with floats"
### Steps to reproduce

[code]

### Description of issue

This is pretty natural and could return ~ `#<Duration(P5M5D)>`. Is this behaviour by design or a bug? If a bug I could try my hand at a fix later this week.

[2016-08-17 20:23] bitwalker commented on #210
Could you give master a look and let me know if you run into anything broken or weird?

[2016-08-18 11:31] obrok commented on #210
master does work in my project, including places where I previously had

[code]

and can now just use `Duration.scale`. It seems it fails some travis checks though :P

[2016-08-18 14:43] bitwalker commented on #210
Yeah, it's because excoveralls doesn't work on Erlang 19 :/, still waiting on the fix for that. In any case, I'll get a new release of timex pushed with this fix :)

[2016-08-18 14:45] bitwalker commented on #210
Pushed 3.0.8 to hex

[2016-08-18 14:45] #210 closed

[2016-08-18 14:47] obrok commented on #210
Thanks for the quick fix

[2016-08-27 10:38] andybeak opened #212 "Documentation page is 404"
### Steps to reproduce

Visit https://github.com/bitwalker/timex/blob/master/docs/Formatting.md
Click on link to http://hexdocs.pm/timex/Timex.Format.DateTime.Formatters.StrftimeFormatter.html labelled as Timex.Format.DateTime.Formatters.Strftime

### Description of issue
I'm trying to work out how to convert a Twitter API style date response "Sat Aug 27 10:26:52 +0000 2016" but can't find a list

[2016-08-27 13:36] bitwalker commented on #212
You should use [hexdocs](https://hexdocs.pm/timex).

[Here](https://hexdocs.pm/timex/Timex.Format.DateTime.Formatters.Strftime.html) are the module docs for the strftime formatter you were looking for, and [here](https://hexdocs.pm/timex/Timex.Format.DateTime.Formatters.Default.html) is the default formatter, which is more flexible, in case stftime doesn't work for you.

[2016-08-27 13:36] #212 closed

[2016-08-31 12:29] fire opened #213 "Timex.from_unix does not support negative values"
### Steps to reproduce

[code]

### Description of issue

- What are the expected results?
Some year from around 0001.

- If you are certain this is a bug in Timex, do you have references I
  can use to check the algorithm/logic against? For instance, a well-established
  date/time library in another language, a paper, test suite, etc. It is by no
  means a requirement, but is immensely helpful in

[2016-08-31 21:05] mjsisley commented on #191
After adding timex v3.0 to dependencies and applications, I am getting the same error when running this line and others involving timezones.

[2016-09-01 13:09] bitwalker commented on #191
@mjsisley Are you calling any Timex APIs at compile-time? If you have `:timex` in your application's list, then the only way the error above could be produced is if you are calling Timex at compile-time without first calling `Application.ensure_all_started(:timex)`

[2016-09-01 13:19] bitwalker commented on #213
This will need to be solved in Elixir's standard library rather than Timex specifically, since `Timex.from_unix` ultimately calls `DateTime.from_unix/2`, but I can work on the PR for it. In the meantime I can probably add a workaround to Timex's implementation.

[2016-09-01 16:58] fire commented on #213
I would like a PR for this. Thank you.

[2016-09-05 12:06] fishcakez commented on #213
This is in Elixir master https://github.com/elixir-lang/elixir/commit/5c08f86145343afa8b4d1653f84d2a2762affb44 and has been back ported for next 1.3 release.

[2016-09-05 12:37] matheus-b commented on #129
Dear bitwalker, I am implementing recurring events for a phoenix project using timex. Is this the right place to ask you about your thoughts on future compatibility? I basically follow the iCalendar feature set currently.

[2016-09-09 08:16] bowett opened #214 "Error in Documentation around formatting"
### Steps to reproduce

The examples given on this page of the documentation don't seem to work. https://hexdocs.pm/timex/formatting.html

For example if I run:
`iex> Timex.format({2013,8,18}, "{YYYY}-{M}-{D}")`

I get the following result:
`{:error, :badarg}`

### Description of issue

It works as expected if I pass a Timex Date as the first parameter rather than an Erlang date.

e.g.

[code]

[2016-09-09 19:58] alanmf opened #215 "Timex.parse, %y doesn't handle "00" for a year."
### Steps to reproduce
- In Timex.parse
- Specifically, Timex.parse!("14-Dec-00", "%e-%b-%y", :strftime)

### Description of issue

- I expect a date object to return similar to:

[code]

[2016-09-09 21:43] #215 closed

[2016-09-09 21:44] bitwalker commented on #215
Fixed this in master, I'll push a new release soon.

[2016-09-09 21:45] bitwalker commented on #213
Thanks @fishcakez!

[2016-09-09 21:45] #213 closed

[2016-09-09 21:46] #201 closed

[2016-09-09 21:57] #214 closed

[2016-09-09 21:57] #208 closed

[2016-09-09 21:58] bitwalker commented on #129
Yes definitely :), feel free to post your thoughts/questions here and we can discuss the implementation

[2016-09-14 14:21] blatyo commented on #198
I also just made the same mistake.

Improving the error would be much appreciated!

[2016-09-27 11:13] TBK145 opened #218 "Timex.from_iso_day and Timex.from_iso_triplet return wrong values for leap years."
### Steps to reproduce

[code]
### Description of issue

Both examples should be equal to Timex.now, which is not the case, so probably the iso functions don't take leap years into account.

[2016-09-30 11:57] zoldar opened #220 "Timex.Timezone.convert gives wrong result date/tz sets resulting ambiguous timezones"
### Steps to reproduce

[code]

### Description of issue

Expected: `DateTime` in `after` being offset by 1 hour
Actual: `DateTime` in `after` being offest by 3600 minutes

The source of the problem seems to be here:

https://github.com/bitwalker/timex/blob/master/lib/timezone/timezone.ex#L316

[code]

Times are offset by minutes using diffs expressed in seconds.

[2016-10-01 00:00] #220 closed

[2016-10-01 00:07] bitwalker commented on #218
The ISO day of year is based on the ISO calendar, which does not necessarily start on January 1st. So `Timex.day` returns the ordinal day based on the gregorian calendar, but when applied to the ISO calendar, the date may or may not match the same date. Basically, we need to add a new function which takes a gregorian day of the year and returns the correct date, but the example shown is doing the

[2016-10-03 10:50] TBK145 commented on #218
So the `Timex.from_iso_day` example can be solved by making a new `Timex.from_gregorian_day`(?), but how to solve the other issue, where I append the weekday?

Also, it still looks to me like there is a bug somewhere, because shouldn't this return the current date?
[code]

[2016-10-04 00:29] bitwalker commented on #218
Yeah, basically we need to add a function which bases the ordinal day on the Gregorian calendar rather than the ISO calendar. And there is a bug in your example there for sure, I'll try and take a look tomorrow. As far as where you are appending the weekday, is that a weekday based on Sunday as the first day or Monday? That could explain why the day is wrong, though I need to confirm which applies

[2016-10-04 08:22] TBK145 commented on #218
We consider Monday the first weekday.

[2016-10-21 04:30] mvbaffa opened #227 "Convert string Datetime to milliseconds"
- Timex.parse(startDay, "%Y-%m-%d %H:%M:%S", :strftime)
- startDay = "2016-08-03 00:00:00"

How can I parse and convert the date "2016-08-03 00:00:00" to milliseconds like java.util.Date.getTime()
Thanks

[2016-10-24 18:19] james-vanlommel-zefr opened #228 "gettext 0.12.x breaks Timex 3.x"
### Steps to reproduce

- API function called: `Timex.format!()`
- Arguments provided: `"{Mfull} {D} {YYYY}, {h12}:{m}{am}"`

### Description of issue

Timex is calling a private gettext API, which changed in the past two days with their 0.12.0 release.

### Stacktrace

(I'm on Timex 3.1.0)

[code]

### Temp Resolution

Forcing my mix.deps to use the `0.11.0` version made this error go away.

[2016-10-25 16:19] jadlr commented on #227
like so:

[code]
not the the result of the parse is a NaiveDateTime. You need to specify a timezone in order to get unix millis from that. The code above assumes UTC

[2016-10-25 18:51] mvbaffa commented on #227
Thanks

Em 25/10/2016 14:20, "Jonas Adler" <notifications@github.com> escreveu:

[2016-10-25 20:11] max-vogler commented on #228
Thanks for the temp solution @james-vanlommel-zefr! Indeed using `{:gettext, "0.11.0"},` in `mix.exs` works.

[2016-10-25 20:14] max-vogler commented on #228
Furthermore, I have had good experience with only allowing higher patch versions, not minor versions (e.g. by using `:gettext, "~> 0.10.0"` instead of `:gettext, "~> 0.10"`). Especially, because many libraries introduce breaking changes in minor version changes of `0.*`. This might be an idea for this repo as well? @bitwalker

[2016-10-25 21:16] #228 closed

[2016-10-26 11:07] obrok opened #230 "Shifting epoch by -13 months takes you to 1969"
### Steps to reproduce

[code]

### Description of issue

- What are the expected results?

[code]

- If you are certain this is a bug in Timex, do you have references I
  can use to check the algorithm/logic against? For instance, a well-established
  date/time library in another language, a paper, test suite, etc. It is by no
  means a requirement, but is immensely helpful in fixing bugs, and pr

[2016-10-27 17:04] #230 closed

[2016-11-01 15:54] mspanc opened #236 "Timex 2.2.1 fails to format RFC1123 dates"
### Steps to reproduce

Under timex 2.2.1, which is the last supported on Elixir 1.2, the following fails:

(record is some Ecto model)

- record.updated_at |> Ecto.DateTime.to_iso8601 |> Timex.parse!("{ISO:Extended}") |> Timex.format!("{RFC1123}")

Causes UndefinedFunctionError because it internally calls

- Timex.Gettext.lgettext
- `["en", "months", "Jan"]`

but gettext 0.12.1 that is used in 2.

[2016-11-01 16:36] bitwalker commented on #236
If you lock the version of gettext at 0.11, this issue won't affect you with 2.2.1. 3.x already has this fixed, and it affects 2.2.1 because it's version restriction on gettext is very loose.

[2016-11-01 16:36] #236 closed

[2016-11-01 17:01] #227 closed

[2016-11-02 07:37] denispeplin commented on #182
Docs are still incorrect here: https://hexdocs.pm/timex/Timex.Format.DateTime.Formatters.Default.html

[2016-11-03 18:18] mvbaffa opened #238 "New datetime from year, month, day, hour"
Sorry,

Maybe this is an obviuos answer but I could not find a function to create a datetime from year, month, day, hour.

Something like this: `to_datetime(year, month, day, hour, seconds)`

Can you help me.
Thanks

[2016-11-03 18:23] bitwalker commented on #238
@mvbaffa you can use the standard library functions/macros, for example `Timex.to_datetime(NaiveDateTime.new(year, month, day, hour, minutes, seconds), "America/Chicago")`, `Timex.to_datetime(~N[2016-11-03T12:30:00], "America/Chicago")` or `Timex.to_datetime({{year, month, day}, {hour, minutes, seconds}}, "America/Chicago")`. All three of those produce a `DateTime` in the "America/Chicago" timezon

[2016-11-03 18:23] #238 closed

[2016-11-03 18:58] mvbaffa commented on #238
This Worked: sd_upd = `NaiveDateTime.new(t.year, t.month, t.day, t.hour, t.minute, 0)`

but this: sd_upd = `Timex.to_datetime(NaiveDateTime.new(t.year, t.month, t.day, t.hour, t.minute, 0), "Etc/UTC")`

Returned:

[2016-11-03 19:01] bitwalker commented on #238
Ah sorry, I forgot `NaiveDateTime.new` returns `{:ok, NaiveDateTime.t} | {:error, term}`, you'd need to extract the NaiveDateTime before passing it to `Timex.to_datetime/2`

[2016-11-03 19:16] mvbaffa commented on #238
OK thanks

Em 03/11/2016 17:01, "Paul Schoenfelder" <notifications@github.com>
escreveu:

[2016-11-06 05:15] kyleaa opened #240 "AmbiguousDateTime values are off during Daylight Savings transition"
### Description of issue

During the transition from PDT to PST `Timezone.convert` returns `AmbiguousDateTime` structs. The documentation recommends using the `:after` value, but it seems that neither of these values are consistently reliable.

The first time we hit 1AM the `:before` value looks correct, but the `:after` value is 2.5 days in the past.
[code]

once the time flips and we hit 1AM aga

[2016-11-06 05:48] bitwalker commented on #240
I suspect I know what's going on here, definitely a bug. I'll get a fix pushed ASAP. Thanks for the report!

[2016-11-06 05:54] bitwalker commented on #240
This appears to be working on master correctly, could you confirm? Here's the results I see:

[code]

[2016-11-06 05:55] bitwalker commented on #240
I've pushed master as 3.1.4 as well.

[2016-11-06 06:03] kyleaa commented on #240
Yep, its working. Sorry for the false alarm 🙁. I was on 3.0.8 as my `mix.exs` requirement was too restrictive. Thanks for taking a look.

[2016-11-06 06:03] #240 closed

[2016-11-06 06:04] bitwalker commented on #240
No problem, sorry you got bit by this!

[2016-11-06 17:22] bitwalker commented on #182
Fixed. Thanks!

[2016-11-06 19:05] #218 closed

[2016-11-06 19:37] hpopp commented on #240
Worth noting here: I had the exact same issue last night with `Timex.local` calls during the transition from CDT to CST, causing string formatting to fail. It should be good now right?

[2016-11-06 19:45] bitwalker commented on #240
@hpopp You'll need to make sure you've updated to the latest release. The bug which was present in 3.0.8 was fixed in a recent release, but I haven't traced back to find out which one specifically.

[2016-11-06 19:49] hpopp commented on #240
Awesome, thanks

[2016-11-06 21:26] kyleaa commented on #240
I walked back through the versions, looks like 3.1 fixes it.

- Kyle Anderson

[2016-11-11 22:25] kaiatgithub opened #242 "Timex.shift changes precision of microseconds"
The calendar library of elixir seems to use a default-precision of 6 for microseconds, see:
https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/calendar.ex#L515

When shifting a time by seconds with timex, the precision gets recalculated based on the number of digits needed (via function construct_microseconds in module Timex.DateTime.Helpers).

I wonder if this is the intended behavi

[2016-11-15 20:13] pollingj opened #243 "Parsing of weeks failed"
### Steps to reproduce

This is a failing test

[code]
### Description of issue

The above test fails with {:error, "Unrecognized token: week_of_year"}
I'm fairly new to Elixir, and I'm not clear on the DateTime stuff.  Any pointers at all?  I'm happy to try and fix, just need some pointers :)

[2016-11-17 03:03] techgaun opened #244 "Timex.timezone/2 does not handle all floating point offsets properly"
### Steps to reproduce

I am trying to convert offset sent from javascript client to a valid timezone so that I can use `Timex.now |> Timex.beginning_of_day` based on the client timezone connecting to the backend.

Few things I tried hoping would work:

[code]

Following code works as expected:

[code]

Following code gives error:

[code]

I was hoping I could just pass values such as 5.75 (GMT+5:

[2016-11-17 18:34] voger opened #246 "Timex.Protocol does not fallback to Any"
### Steps to reproduce

[code]

### Description of issue

- What are the expected results?
   The call to Timex.is_valid?("caturday") should return either false or the tuple {:error, :invalid_date}.
   Definitely not throwing an exception. Also from the code in https://github.com/bitwalker/timex/blob/master/lib/protocol.ex#L163 it seems the intention is to fallback to returning an :error tuple. Th

[2016-11-18 00:26] #246 closed

[2016-11-23 01:27] mbuhot opened #248 "DateTime Microsecond precision ignored for 0 value when formatting as {ISO:Extended}"
### Steps to reproduce

[code]

vs Elixirs `DateTime.to_iso8601`

[code]

### Description of issue

When `Timex.format!("{ISO:Extended}")` is used to format the datetime, the fractional seconds component is omitted if the value of microseconds is 0.

The equivalent function in the elixir standard library always respects the digits of precision component of the `:microsecond` field when formatting,

[2016-11-28 16:03] jemc commented on #198
Yep, improving the error tuple would be nice.  I ran into this when trying to load `timex` into a quick sandbox project so I could play with it in `iex`.  Leaving it out of the `:applications` list is not a mistake I would usually make, but as I said it was a quick sandbox project and I rushed through the process to get to an `iex` prompt.  Having a more descriptive error tuple would have saved me

[2016-11-30 09:59] rsudhakar opened #250 "Timex.parse is incorrectly parsing for ISO:Extended format"
Parsing a string in ISO:Extended format does not return the right offset.

Timex.parse!("2016-11-30T09:05:32+05:30", "{ISO:Extended}")
#<DateTime(2016-11-30T09:05:32+05:00 Etc/GMT-5)>

The offset of the time string has +5:30 (India) where as the parsed datetime object has the offset of only +5:00

I also noticed this works for timezone offsets of 1 hour instead of half-hour intervals

Timex.parse!

[2016-12-01 00:06] bitwalker commented on #250
Ah, there is support to parse offsets down to the minute, but it wasn't previously available. I'll get this updated.

[2016-12-01 00:57] #250 closed

[2016-12-06 17:19] leobessa commented on #243
I've got the same issue. I tried to fix it but I got confused about the expected output.

First I added the following code to `update_date`.

[code]

Note that we are assuming the weekday is 1 (Monday) on `Timex.from_iso_triplet({year, value, 1})`.

And then I wrote the test, and it passed:

[code]

I'm not confident about the results because `2016-W48` is not a date, it's a week.

What would be t

[2016-12-20 05:17] bitwalker commented on #248
I'm fine with changing things to be consistent with the standard library here, but the ISO-8601 spec is pretty clear that the two are equivalent. If a system is choking on one but not the other, then it is not using a ISO-8601-compatible parser, which is fine, but dangerous to be sure for the reason you discovered. I'll update this once the fix is upstream.

[2016-12-20 05:24] #248 closed

[2016-12-20 18:29] azhi opened #252 "Bug with `{0ss}` format directive"
### Steps to reproduce

- Take any valid time
- Format it using format string with fractional seconds and 0 padding
- Parse resulting string back

E.g.

[code]

### Description of issue

Expected result: Format/parse cycle should return original time unchanged. Instead, parsing fails with "Expected `fractional second` at line x, column y."

### Detailed description

I've spent some time investigat

[2016-12-20 18:33] bitwalker commented on #252
I'll take a look shortly, thanks for the report!

[2016-12-20 19:36] #252 closed

[2016-12-20 19:36] bitwalker commented on #252
This is now fixed in master, please let me know if you find any other issues!

[2016-12-20 19:52] #242 closed

[2016-12-20 23:30] mbuhot commented on #248
Thanks @bitwalker!

[2016-12-21 00:18] #244 closed

[2016-12-21 00:20] bitwalker commented on #244
I've added this in master, along with a function to define your own timezones, `Timex.TimezoneInfo.create/6`. I would recommend using that instead of fractional offsets, as it will give you a timezone info struct you can use for conversions, and you can ensure it's precise, as there is inherent flaws with a floating point offset as you can imagine.

[2016-12-24 14:04] soarpatriot opened #253 "RFC"
### i18n Chiese support

Timex.from_now

### Description of issue
I am a user of Timex from China and there is no  Chinese support in i18n.
Could you add Chinese support?  or  Could I commit a PR(MR) for this issue?

- What are the expected results?
add Chinese i18n support.

[2016-12-25 03:15] bitwalker commented on #253
I'm happy to merge the translations if you submit a PR for them :)

[2016-12-25 03:16] bitwalker commented on #253
And merged :), thanks!

[2016-12-25 03:16] #253 closed

[2016-12-31 22:42] mbramson opened #259 "Fix formatting of negative and overflowing durations"
### Steps to reproduce

Formatting of durations with negative components error or output nonsensical values. Some examples:

[code]

There is also at least one other buggy case in this function not involving negative numbers:
[code]
(I'd expect `"PT2.0S"` or `"PT2S"`)
**NOTE: The above example when microseconds exceeds 1000000 has been fixed by https://github.com/bitwalker/timex/pull/260**

### De

[2017-01-03 15:51] markmeeus opened #261 "Calendar.Julian.day_of_week with week_start :mon returns wrong values"
The values returned from the day_of_week function in Calendar.Julian seem wrong when using the :mon week_start
I was expecting to see 1 upto 7 for days monday upto sunday.

The current implementation returns 1 upto 7 for days sunday upto saturday

[code]

I'll add a pull request with some tests too.

[2017-01-03 21:10] #261 closed

[2017-01-04 01:22] bitwalker commented on #259
I think at least in the case of the ISO formatter, it should be the representation of the absolute value of the duration, in other words, the negative and positive representations of a given duration would have the same output using that formatter (because they represent the same volume of time, and the format defined in the spec does not distinguish between past and present, at least as far as I

[2017-01-05 15:50] bglusman commented on #198
I also made this mistake :-)  Luckily the new Elixir 1.4 behavior of auto adding applications should fix this, though at one point I thought maybe it wasn't in a released version and used master, and still don't think I saw the error message it looks like was added in 5b4daa83 but maybe I'm confused..  anyway, thanks for a great tool!

[2017-01-10 18:57] renato opened #263 "OpenVPN status log date format"
### Steps to reproduce

- Timex.parse/2
- `"Sat Jan  7 13:16:53 2017", "{WDshort} {Mshort} {D} {h24}:{m}:{s} {YYYY}"`

### Description of issue

- GitHub strips it, but there's a double whitespace between Jan and 7, because 7 is < 10. In a date like `Tue Jan 10 16:14:06 2017`, however, there's only one space between Jan and 10. I don't know if this is from any default, but OpenVPN status uses this

[2017-01-10 19:01] bitwalker commented on #263
You want `{WDshort} {Mshort} {_D} {h24}:{m}:{s} {YYYY}`. The `_` modifier to the `D` token tells it to format with spaces as padding (and to likewise expected space-padded digits when less than 10). The default padding is zeroes (which can be explicitly set with `0` instead of `_` as the modifier). Hope that helps!

[2017-01-10 19:01] #263 closed

[2017-01-10 19:07] renato commented on #263
Thanks, that helped a lot!

I missed it in the docs when trying to solve it as it's deep in Timex.Format.DateTime.Formatters.Default, I'm sorry. :)

[2017-01-12 00:34] mneumark commented on #86
@bitwalker Any word on a fix for this issue? Downgrading tzdata fixes the problem but its not the best solution in the world. Any reason the issue is closed if its not really resolved?

[2017-01-12 09:41] slavakisel commented on #259
@bitwalker I can prepare a fix for this issue if you don't mind

[2017-01-13 04:02] bitwalker commented on #259
@slavakisel That would be most welcome!

[2017-01-13 04:28] bitwalker commented on #86
The fundamental issue is that it's not possible to load ETS tables from files in an escript. The `tzdata` package relies on this functionality in all versions > 0.1.x. Basically, `tzdata` needs to be refactored such that it can operate under this constraint, and unfortunately I haven't had time to take a crack at a PR. It's closed because there is a workaround, even though it's not ideal, and it's

[2017-01-14 13:45] slavakisel opened #266 "Formatting of zero duration returns empty string"
### Steps to reproduce

Default formatter returns just "P":
[code]

Humanized formatter returns just empty string:
[code]

### Description of issue

This probably should be more informative. I also took a look at specification and ISO-8601 mandates at least one element for a zero duration (see 4.4.3.2.c - page 21):

[2017-01-15 20:02] #259 closed

[2017-01-18 16:14] manukall opened #268 "Timex.format! will go into an infinite loop if called with invalid date tuple"
I came across this via code like

[code]

When `somevar` is something that cannot be cast to a date, (e.g. `nil`), this will result in an endless loop.
`Timex.to_date` will return `{:error, :invalid_date}`, which leads to https://github.com/bitwalker/timex/blob/master/lib/format/datetime/formatter.ex#L49 being called over and over again.

In my opinion, an error should be raised here. Maybe we cou

[2017-01-18 16:42] nulian commented on #268
Think that problem is introduced in 3.1.6 with the fallback_to_any protocol part.
Also had infinite loop in our app when updated to the latest version while in 3.1.5 it works just fine.

[2017-01-19 20:57] #268 closed

[2017-01-19 20:57] bitwalker commented on #268
This fix is released in 3.1.8

[2017-01-20 09:02] manukall commented on #268
@bitwalker thanks!

[2017-01-21 16:25] sabondano opened #269 "ISO:Extended Errors"
### Steps to reproduce

- API function called: `Timex.parse/2`
- Arguments provided: `"2014-02-11T14:30:45", "{ISO:Extended}"`

### Description of issue

- What are the expected results?
I expect it not to error out when calling `Timex.parse("2014-02-11T14:30:45", "{ISO:Extended}")`
- If you are certain this is a bug in Timex, do you have references I
  can use to check the algorithm/logic against

[2017-01-21 22:15] bitwalker commented on #269
That isn't a valid ISO-8601 string - it must also include either `Z` or a timezone offset (e.g. `+00:00`), as I'm sure the error you received indicated. You can use `{YYYY}-{0M}-{0D}T{h24}:{m}:{s}` for the string you provided if you don't have control over the input string.

[2017-01-21 22:15] #269 closed

[2017-01-23 17:17] sabondano commented on #269
Right, that makes sense but errors with: ```** (FunctionClauseError) no function clause matching in Timex.Parse.DateTime.Parsers.ISO8601Extended.parse_offset/3
      (timex) lib/parse/datetime/parsers/iso8601_extended.ex:135: Timex.Parse.DateTime.Parsers.ISO8601Extended.parse_offset("", [sec: 45, min: 30, hour24: 14, day: 11, month: 2, year4: 2014], 17)
      (timex) lib/parse/datetime/parsers/iso

[2017-01-23 23:16] bitwalker commented on #269
You are right, it definitely should, I'll get that fixed, thanks!

[2017-01-24 01:24] sabondano commented on #269
Cool, thank you @bitwalker!

[2017-01-29 13:45] marcelog opened #271 "Corner case when shifting +1 months Jan 29"
Hello,

This is a corner case, and I'm not sure there's a workaround for it, but I'd still like to know your thoughts about it.

Today is Jan 29th 2017. This year, February has 28 days. When adding +1 months to Jan 29, the result is Feb 28, but `Timex.diff` reports 0 months of difference.

So when doing this:

[code]

The result seems to be inconsistent. We're adding +1 months through the API but

[2017-01-29 18:55] alex88 opened #272 "Argument error on binary_part"
I'm using this function in my code

[code]

however sometimes I get this exception

[code]

I've tried to manually run the function may times on `iex` console and after 10-15 tries I got the same exception.

What could be the issues here?

[2017-01-29 18:57] alex88 commented on #272
The issue seems with the microseconds, you just need to run `Timex.format!(Timex.now, "{ss}")` that it generates that exception

[2017-01-29 18:58] bitwalker commented on #272
The issue is that `binary_part` takes 3 arguments, the 2nd is the start index, the 3rd is the number of bytes to take. It looks like something is passing a tuple to it instead of the correct arguments. That tuple is a microsecond tuple I'm almost positive, which means there is a bug in the `{ss}` formatter. I'll take a look!

[2017-01-29 19:01] alex88 commented on #272
What I've noticed is that every time it happens, the microseconds has 5 digits instead of 6

[2017-02-02 02:12] #272 closed

[2017-02-02 02:13] bitwalker commented on #272
Pushed in 3.1.9

[2017-02-07 09:04] santif opened #275 "Format error depending on microseconds value"
When microsecond part is < 100_000, `Timex.format!()` throws an error

I'm using Erlang 19.2, Elixir 1.4.1 and Timex 3.1.9

[code]

[2017-02-07 20:13] #275 closed

[2017-02-07 20:14] bitwalker commented on #275
This is now fixed in master, thanks for the report!

[2017-02-08 15:43] #271 closed

[2017-02-08 15:47] bitwalker commented on #271
Indeed this did seem to be wrong - unfortunately I did a poor job of documenting the old diffing algorithm for months, so it's not clear to me why it was the way it was, but I've resorted to a simpler algorithm which will do a naive integer division of the diff in days by 30 (we have to make an assumption about the length of a month, and 30 is a reasonable average). I believe the old algorithm att

[2017-02-09 15:45] marcelog commented on #271
Thank you very much @bitwalker 👍

[2017-02-09 16:49] jbrowning opened #277 "Timex.from_now/1 is inaccurate if the timezone is non-UTC"
`Timex.from_now/1` is inaccurate if the timezone is non-UTC. This is unexpected because they should both be the same moment in time.

`Timex.from_now/2` **is** accurate if the given `reference_date` time is in the same timezone as the `datetime`

### Steps to reproduce

[code]

### Description of issue

- What are the expected results?

For both times to return the same `from_now` result.

- If yo

[2017-02-09 16:51] bitwalker commented on #277
The reason is that `from_now/1` uses UTC as it's reference point, but the input date/time is not converted to UTC prior to diffing. Thanks for the report! I'll get this fixed ASAP.

[2017-02-09 17:57] #277 closed

[2017-02-09 18:26] jbrowning commented on #277
Yep, figured. Thank you so very much for the quick reply and fix. 🙌

[2017-02-16 13:35] Teifion opened #279 "Datetime compare doesn't always work correctly"
I've a set of datetimes which for the most part are comparing correctly. One specific one did not compare correctly.

The first date (a) is in Jan of 2017 while the second date (b) is Feb 2017 yet the first datetime is determined to be greater than the second datetime. I've a set of other datetime compares and all came back correctly.

*Code to reproduce:*
[code]

*Contextual/System info*
[code]

[2017-02-16 14:06] bitwalker commented on #279
Unfortunately you can't use the comparison operators with structs, as the comparison is done using absolute term order, but the order of fields in a struct are not guaranteed. Timex provides `Timex.compare/2` and `Timex.compare/3` for this purpose (amongst other functions for comparing/diffing two date/time objects).

[2017-02-16 14:06] #279 closed

[2017-02-16 14:23] nulian opened #280 "Probably bug with %W parsing of first day of the year"
When formatting a date time with %W before the first monday of the new week it should probably return week 0.

Timex.to_date({2017,1,1}) |> Timex.format!("%W", :strftime) == 52

Most other libraries I compared it with return 0 with %W and 52 with %V.

[2017-02-16 14:50] nulian commented on #280
Found another one the result should be 42.

Timex.to_datetime({{2013,10,21},{10,0,0}}) |> Timex.format!("%W", :strftime) == 43

[2017-02-16 21:42] bitwalker commented on #280
Yeah looks like `%W` got hooked up to the ISO week number, I'll get that fixed ASAP.

[2017-02-16 22:50] #280 closed

[2017-02-16 22:50] bitwalker commented on #280
This is fixed in master, I'll release it once you've confirmed in your testing that everything looks good.

[2017-02-17 08:43] nulian commented on #280
Yep tnx it shows the correct numbers with the master branch.

[2017-02-17 18:38] bitwalker commented on #280
I pushed a new release today with the fix. Thanks!

[2017-03-02 05:44] whitepaperclip opened #283 "Timex.end_of_quarter not accepting Date argument (3.1.12)"
[code]

I would expect this to also return `~D[2017-03-31]`.

[2017-03-08 13:12] cdegroot opened #284 "Document tzdata's auto-update behavior"
I discovered that this library includes tzdata, which auto-updates time zone data. While admirable to have a library that tries to stay up-to-date, in the past using libraries that tried to pull data from production has for me invariably ended up in tears. There are security and stability issues around having more code than you bargained for being active on production systems.

The author of tzdat

[2017-03-09 03:11] bitwalker commented on #284
I would be happy to merge something in the docs and README about this behaviour and how to disable it, but I would also like to make sure the note does not actively discourage users from using the default behaviour. I agree with @lau that correct tzdata is the entire point of such a package and that unless you have specific requirements which force you to manually perform such updates, you should

[2017-03-09 13:37] cdegroot commented on #284
I find it, err,  "interesting" to see so much support for behaviour I've always worked hard to discourage and/or disable. I guess my views on what's required as a baseline for secure software are probably a tad on the strict side, but I'll submit a neutrally worded PR to the README.

[2017-03-09 16:30] bitwalker commented on #284
I definitely understand the security concerns, and it's one of the reasons an option exists to disable it in the first place. The reason why we recommend this as the default behaviour is because inaccurate timezone information is worse than no timezone information at all - if you are operating on DateTimes and have updates disabled, then unless you have an alternative method in place to keep up on

[2017-03-09 16:31] #284 closed

[2017-03-20 15:08] suhrawardi opened #289 "Day missing in RFC822 conversion"
Hi,

Seems like the `RFC822` conversion is going wrong, and other `DAY` formatting as well:

### Steps to reproduce

[code]

### Description of issue

- What are the expected results?
I expected it to return `{:ok, "Wed, 01 Mar 17 18:00:00 "}`

Thanks a lot!

[2017-03-28 20:40] hedgesky opened #292 "Interval with incorrect step leads to infinite cycle on enumerating"
Steps to reproduce:

[code]

I guess this is due to lack of check in `Interval.has_recursion_ended?/3`:

[code]

Had hard time figuring this out; accidentally typing `month` instead of `months` drove me crazy.

I guess we can add the check to `Interval.new` and `Interval.with_step`, raising `FormatError` on incorrect steps. Can tackle this if suggested solution is acceptable.

[2017-03-30 16:40] elpikel opened #294 "Timex.max()"
Can i add Timex.max() that will return December 31, 9999 ? I'm form .net and there you can find: https://msdn.microsoft.com/en-us/library/system.datetime.maxvalue(v=vs.100).aspx which can be useful.

[2017-03-30 16:48] bitwalker commented on #294
Could you provide an example of where you would use it?

[2017-04-02 10:09] lang100 commented on #61
@bitwalker  How can i get a DateTime with only 3 digits in the sub-second part?

[2017-04-03 02:02] mbramson commented on #292
Looks like this happens because `Enum.count/1` uses the implementation of reduce, which for a right_open interval never ends. You can reproduce this with a reduce as well (and likely anything else in `Enum` that relies on the implementation of `Enum.reduce/3` for intervals with right_open of true.

[2017-04-04 02:10] mbramson commented on #294
Not arguing either way, but this value is actually at least supported by elixir itself in typespecs: https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/calendar/iso.ex#L19

[2017-04-04 02:45] mbramson commented on #124
@bitwalker, is this still an active issue?

[2017-04-05 18:55] sgtpepper43 opened #297 "Timex.format on a time without a timezone does not return valid `ISO:Extended` string"
### Steps to reproduce

[code]

- API function called
Timex.format/Timex.parse
- Arguments provided
`"{ISO:Extended}"`

### Description of issue

When I format something into `{ISO:Extended}`, it doesn't create a proper ISO 8601 string (at least not according to `Timex.parse`). The reason given from `Timex.parse` is that the timezone is missing. I don't know what the best solution is, perhaps `for

[2017-04-05 19:29] bitwalker commented on #124
It is, I just haven't had the time or need to work on this yet. It is definitely something I'd be glad to merge if someone wants to take on the work to put together a PR!

[2017-04-05 19:33] bitwalker commented on #294
I'm not saying it's an "invalid" date/time value, but rather where it's use fits in to code you would write with Timex. Comparisons already support the concept of "far future" and "far past" which are effectively maximum values (though they are really more like infinity/negative infinity). You can already create date/time values which represent a value of 9999/12/31, so a convenience function for

[2017-04-05 19:36] bitwalker commented on #61
@lang100 If you use `DateTime.new` you are able to do that, and you can achieve the same thing by setting the precision of the microseconds tuple to 3.

[2017-04-06 04:14] ddresselhaus opened #298 "Parsing with Strftime, flag behavior not working as expected"
So, I'm trying to parse this string:
[code]

Using the strftime format:
[code]

This is zero-padding on the left-side, returning .000348 microseconds, instead of .348000 microseconds.

In the code, the "-" flag is documented here:
https://github.com/bitwalker/timex/blob/a9c9cc6c185ee0b3e5be8f5dbc3b4711398efb65/lib/format/datetime/formatters/strftime.ex#L22
It seems like what I should be using to a

[2017-04-06 05:51] lang100 commented on #61
@bitwalker , thanks!
can you give an example of how to set precision of the microseconds tuple ??

[2017-04-06 19:35] jcelliott commented on #204
FWIW, the Logger module uses a 4-tuple for log timestamps. I just realized this while writing a custom formatter because Timex fails to parse it.

[2017-04-06 20:01] #292 closed

[2017-04-06 20:04] bitwalker commented on #61
@lang100 `%{datetime | :microsecond => {elem(datetime.microsecond, 0), 3}}` would do the trick.

[2017-04-15 16:10] ranyefet commented on #207
I have the exact same issue in my project.

I'm using:
 - Elixir 1.4.2
 - Erlang/OTP 19 [erts-8.2]
 - Phoenix 1.2.1

@vmarcetic did you managed to fix it?

[2017-04-18 13:21] yasserhussain1110 opened #299 "Unable to parse RFC2822 Dates"
#### Timex Version used -
  3.1.13

#### Steps to reproduce

I ran
[code]
and got
[code]

Why am I not able to parse **RFC2822** type date strings?
Is there any other way to parse such dates?

I am trying to find an equivalent code for Javascript's `Date.parse`. For example -
[code]
returns a timestamp.

How do I implement this?
Please help.

[2017-04-18 13:41] yasserhussain1110 commented on #299
Closing this issue as I found a workaround.
[code]

[2017-04-19 16:41] bitwalker commented on #299
Reopening this, as it's a bug. I'll get this patched today and push a new release.

[2017-04-19 16:52] bitwalker commented on #299
Wait, I just noticed that date/time string you are providing isn't an RFC 2822 date/time, as defined [here](https://www.ietf.org/rfc/rfc2822.txt). Also, I don't have a specific parser for RFC 2822, but I do for RFC 822, and from my reading, the formats appear to be identical, so you could give `{RFC822}` a try instead.

I did just push a fix to prevent requiring the weekday abbreviation, as that's

[2017-04-19 16:52] #299 closed

[2017-04-19 17:16] yasserhussain1110 commented on #299
Tried running this code -
[code]
Got -
[code]

You are right, my mistake. The date wan't in RFC2822 format.

But then again `"January 1, 1970"` format is pretty common format specially for people coming from Javascript background.

So maybe if Timex had a function for parsing that kind of dates, it would be much appreciated.

But this is just what I thought. I don't know if other people have faced

[2017-04-19 21:33] bitwalker commented on #299
I agree that it's pretty common, unfortunately there is no specification for dates of that format, which is where I draw the line. I prefer to only add commonly-used formats as shortcut tokens in Timex's formatting tokenizer - for date/times such as the one you've shown here, the format string is short enough, that it's exactly the kind of thing those format strings are intended for, it's also mor

[2017-04-20 05:27] yasserhussain1110 commented on #299
I am happy to use format string. Thanks.

[2017-04-21 10:24] rvignesh89 opened #300 "RFC: A tz aware Timex.today"
In my use case I have to deal with dates which are dependant on time zone. It would be nice to have something like

[code]
Currently I do this to achieve the same which is a slightly verbose IMO,

[code]

A minor improvement but enhances the readability of the code a lot. Also compares nicely with the Timex.now syntax.

[2017-04-26 13:47] fpoehler opened #302 "RFC: Timex.equal? – Be explicit about comparison granularity"
Example

[code]

According to the documentation, the arguments of `Timex.equal?` are equal (only) if they "represent the same moment in time", just as one would expect.

However, the implementation only does a comparison with a `:seconds` granularity, i.e. two `DateTime`s having the same calendar, timezone, date, hour, minute and second, but different milliseconds, are still equal as of `Timex.equ

[2017-05-08 21:20] bitwalker commented on #300
I'm hesitant to do this, and I'll try to explain why, hopefully people can chime in with their two cents here:

I want to try and avoid conflating the ideas of timezone-less structures with timezone-aware concepts (for example, asking for a Date in a given timezone). Yes, it is a natural question one might ask in a conversation, but the concept of the `Date` struct in terms of a timezone is nonsen

[2017-05-08 21:21] bitwalker commented on #302
The latter of these two options is what should be there, I'll make sure this and the docs are updated. Thanks for the report!

[2017-05-08 21:23] bitwalker commented on #298
I know what's going on here, I'll get this fixed in the next release

[2017-05-08 21:40] bitwalker commented on #297
The problem here is that you are attempting to format something with no timezone information using a timezone-aware format. You must tell the formatter to assume UTC with the `{ISO:Extended:Z}` directive, this will ensure the formatted date/time is in `UTC` and suffixed with the `Z` timezone designation.

[2017-05-08 21:40] #297 closed

[2017-05-08 21:44] sgtpepper43 commented on #297
Exactly, but shouldn't `format` return an error when you attempt to format something with no timezone using a timezone-aware format?

[2017-05-08 21:49] bitwalker commented on #297
Yes it should be returning an error, I'll make sure it does in the next release.

[2017-05-09 01:36] Linbubin opened #305 "GMT timezone"
I want to

[code]

but why show me

`#<DateTime(2017-05-08T17:28:47.035192-08:00 Etc/GMT+8)>`

Is there any simple way to get the results I expected?
Only set the time zone to GMT-8？

[2017-05-12 16:00] vsmart opened #306 "[Question] Convert Ecto.DateTime to Timex.DateTime"
Hi.

Is there a way to convert an Ecto.DateTime to a Timex.DateTime and vice versa?

I know it's possible to use Timex on Ecto using the `timex_ecto` plugin as explained  in [Using with Ecto](https://github.com/bitwalker/timex/blob/90f446a5a94d1a31d088deec860b51acbe2f6e0e/docs/Using%20with%20Ecto.md), but I'd love to use Timex for some date/time calculations without switching over the entire DB to

[2017-05-12 16:15] bitwalker commented on #306
They are the same thing in recent versions of both :). Both Ecto 2 and Timex 3 use the native Elixir calendar types, including `DateTime`. You should be able to just take a `DateTime` from Ecto and pass it right to the Timex API with no issues!

[2017-05-12 16:15] #306 closed

[2017-05-12 16:41] vsmart commented on #306
hey! thanks for the quick response.

I'm on ecto 2.1 and timex 3.1., so should be up to date as you mentioned.  Still, I am getting this error when trying to use the Ecto.DateTime in my Timex calculations.

```Protocol.UndefinedError) protocol Timex.Comparable not implemented for #Ecto.DateTime<2012-01-01 00:00:00>``` on operations like `Timex.before?`,
and the error `{:error, :invalid_date}` when

[2017-05-12 17:19] bitwalker commented on #306
Ah, you're right, they are supposed to be used in Ecto 2.2, but that hasn't released yet. You should be able to pipe the Ecto DateTime through `Ecto.DateTime.dump/1` then `Timex.DateTime.Helpers.construct/1` and get an Elixir DateTime. I'm going to push a new release which can take care of the conversion for you as part of the Timex protocol

[2017-05-12 22:07] vsmart commented on #306
great. that works. thank you!

[2017-05-15 09:22] Linbubin opened #307 "how to get dates based on years and days"
I find function **day**:
[code]

but now, I want to find a function reversal the function **day**,
`Timex.get_day(year, day_num)`
it means
[code]

Is there a ready-made method I haven't found?
Or who can give me some ideas to construct this function?

anyway, thanks!

[2017-05-16 00:41] lebart opened #308 "Some translations/locale aren't working"
Hello,

Using Timex 3.1.13, some locale aren't working:

[code]

I was looking for the french translation, I didn't test for other languages.

[2017-05-16 08:30] Linbubin commented on #307
I write a function maybe can help.

[code]

You can improve it, add it to the method, and help someone else if they need it.
thanks!

[2017-05-16 16:09] #307 closed

[2017-05-16 16:11] bitwalker commented on #307
Either `Timex.shift({<year>, 1, 1}, <day_num>)`, or `Timex.from_iso_day/2` should cover this case.

[2017-05-17 04:55] fanzeyi opened #309 "`Timex.from_unix` inconsistent behavior"
### Steps to reproduce

[code]

### Description of issue

I think the behavior in these two different out of bound situation should be consistent (i.e. raise an error).

[2017-05-17 05:02] fanzeyi commented on #309
Ah, after more experiments, I realized these inconsistent is from Elixir's `DateTime` module.

[code]

I probably should report this issue to elixir-lang/elixir. Sorry for bothering you.

[2017-05-17 05:04] #309 closed

[2017-05-17 20:33] bitwalker commented on #308
When I run your second example, I get:

[code]
But I just double checked, and this because French wasn't added until 3.1.14 :)

[2017-05-17 20:33] #308 closed

[2017-05-17 20:37] lebart commented on #308
Thanks! That makes sense!

On hex.pm I didn't see 3.1.14 should I use the git repo in my mix conf instead?

[2017-05-17 20:52] bitwalker commented on #308
I'll get 3.1.14 pushed up right away :)

[2017-05-17 20:54] bitwalker commented on #305
The `Etc/GMT*` zone names are reversed intentionally, i.e. `GMT+8` is actually GMT - 8 hours, and `GMT-8` is actually GMT + 8 hours. This is an issue with the Olson timezone database, not Timex, and is an unfortunate artifact of how wonky timezones are :(

[2017-05-17 20:54] #305 closed

[2017-05-17 21:20] bitwalker commented on #289
This is due to using `Ecto.DateTime`, which is missing some key fields. You should convert the `Ecto.DateTime` to an Elixir `DateTime` or `NaiveDateTime`, or convert it to an Erlang datetime tuple and pass that to Timex. Currently, Timex doesn't support the legacy Ecto structs, which are going away in favor of Elixir calendar types in the next release as far as I'm aware.

[2017-05-17 21:20] #289 closed

[2017-05-17 22:00] lebart commented on #308
hehe thanks a lot! :)

[2017-05-17 22:17] #283 closed

[2017-05-17 22:17] #298 closed

[2017-05-17 22:22] bitwalker commented on #308
3.1.15 is up!

[2017-05-18 06:15] suhrawardi commented on #289
Thanks @bitwalker !

[2017-06-01 17:10] #302 closed

[2017-06-04 19:36] uesteibar commented on #266
Hi here! I've been looking around for a chance to contribute to the project, so if it's fine with you guys I'll open PR taking care of this issue.

Thanks! :)

[2017-06-08 09:28] mbaeuerle opened #312 "Strftime parser doesn't parse flags"
### Steps to reproduce

[code]

### Description of issue

- I expected that the modifiers and flags are also working when parsing

[2017-06-14 09:47] benrom opened #313 "Shift issue with months"
### Steps to reproduce

- timex 3.1.15 with Elixir 1.4.4
- API function called: `Timex.shift` with negative `months`
- Arguments provided `(DateTime.utc_now(), months: -24)`

### Description of issue

- What are the expected results?
Should be the same output as `Timex.shift(DateTime.utc_now(), years: -2)`, but the year gets wrong (the rest is fine).

OK:
[code]

BUG:
[code]

BUG AGAIN:
[code]

Sh

[2017-06-14 10:00] benrom commented on #313
The issue must lie around [here](https://github.com/bitwalker/timex/blob/6e4ca48baba5f4a342454ba838f03917413fac41/lib/datetime/datetime.ex#L311)  with `m=-12`, but that requires too much arithmetic for me this morning to figure out how to fix it.

[2017-06-20 06:01] dkln opened #316 "Compiler warning in lib/timex.ex"
### Steps to reproduce

- Use Elixir 1.4.4 with Erlang 19
- Compile an Elixir project with Timex version 3.1.15

### Description of issue

Compiler shows warning in `lib/timex.ex' on line 979:

[code]

P.S.: Thanks for this awesome library! <3

[2017-06-21 18:06] #316 closed

[2017-06-21 18:06] bitwalker commented on #316
Fixed in master. Thanks!

[2017-06-21 18:08] #266 closed

[2017-06-21 19:35] richeterre opened #317 "Timex.diff returning wrong amount of years between two dates?"
### Steps to reproduce

[code]

### Description of issue

The returned result is `1`, but I'd expect this to return `0` as no full year has passed between the two dates. (The use case is to calculate a user's displayed age based on their birthdate.)

As I'm quite an Elixir beginner, might I be missing something crucial here? 😯

[2017-06-21 19:40] bitwalker commented on #317
I'll move my Twitter replies here for posterity :)

The date range you provided is 12 months, and the diff implementation for years currently just looks at the number of months divided by 12. I'm open to suggestions on improving this at the moment, but it's a non-trivial problem, as "years" is not a constant time unit. Measuring years as divisions of 365 days would probably be more accurate, and I

[2017-06-21 19:44] bitwalker commented on #317
For your specific use case, `Timex.diff(Timex.today, birthday, :days) |> div(365)` would probably be accurate enough. One option we have is to start at `birthday` and walk forward and count the number of occurrences of that month/day. Now that intervals are baked in to Timex, I should probably update the diffing algorithm to leverage that capability.

[2017-06-21 21:20] #317 closed

[2017-06-21 21:20] #313 closed

[2017-06-23 12:07] mspanc opened #318 "ISO:Extended parser does not handle date/time without TZ info"
### Steps to reproduce

[code]

### Description of issue

ISO8601 allows to specify date/time without timezone specifier (see section 4.3.2 of ISO8601 spec) but they are not parsed correctly as local time by Timex.parse.

See examples in section 4.3.2: http://www.uai.cl/images/sitio/biblioteca/citas/ISO_8601_2004en.pdf

It should either return local time or have additional argument for passing des

[2017-06-23 13:25] mspanc opened #319 "strftime parser does not handle fractional part if it is equal to zero"
### Steps to reproduce

[code]

### Description of issue

I tried to implement workaround for #318 and it seems that strftime parser is also buggy. It does not handle fractional part properly if it's made out of zeros. If you change it at least to be `.000001` it works fine.

Using 3.1.17.

[2017-06-26 12:59] rvignesh89 commented on #300
@bitwalker I was caught up with other stuff so couldn't reply to this earlier. I agree with you on the fact that dates, times and timezones are not intuitive and require some mind wrapping to get it it right especially if you application does not have a global timezone. This is exactly why I wanted `Timex.today('Asia/Singapore')` since it would help in making the code explain what I'm trying to do

[2017-06-27 17:39] kaelumania commented on #318
Further I found that the result of `Timex.parse!("2017-06-27T08:32:55.8000011Z", "{ISO:Extended}")` can not be inspected (receiving an argument error). Note: This happens after the 6th digit of the subseconds. Furthermore, when I try to `Poison.encode!` this string it raises an error
[code]

[2017-06-27 17:53] bitwalker commented on #318
Thanks for the report!

Regarding the OP issue, I will modify the parser to return a NaiveDateTime if the timezone specifier is missing.

Regarding @kaelumania's issue, that is a problem with the Elixir standard library types, and should be reported to the elixir-lang tracker.

[2017-06-27 18:08] #318 closed

[2017-06-27 18:08] bitwalker commented on #318
I just published 3.1.18 which fixes this issue.

[2017-06-27 18:40] #319 closed

[2017-06-27 18:56] #312 closed

[2017-06-27 18:56] bitwalker commented on #312
I've fixed this in master, it will go out in the next release. Thanks for the report!

[2017-06-27 21:26] #243 closed

[2017-06-27 21:27] bitwalker commented on #243
I've addressed this in master, it will go out in the next release. Thanks for the detailed report!

[2017-06-27 21:27] #294 closed

[2017-06-27 21:29] bitwalker commented on #300
I'm going to close this for now, since it's been open for awhile with no activity. I think my recommendation for this going forward is to use `Timex.now/1`.

[2017-06-27 21:29] #300 closed

[2017-06-27 21:44] bitwalker commented on #203
After thinking about this again, I think I would prefer to leave the current implementation as it is. The last example provided is horribly wrong:

- If I understand the format correctly, the offset is effectively useless, i.e. the timezone of the date/time is ART (which isn't a valid Olson timezone name, but let's ignore that), which should be +5 hours from GMT. However, the effective offset is a

[2017-06-28 07:46] kaelumania commented on #318
@bitwalker I think there is an issue with `Timex` too.

1. With precision more than 6 the `sec_fractional` are `0`
[code]

2. When converting to Elixir DateTime the `sec_fractional` is not being truncated, but `elixir` only supports 6
[code]

[2017-06-28 16:50] narkq opened #322 "strftime formatter does not pad microseconds when fractional part is equal to zero"
### Steps to reproduce
[code]
### Description of issue

Expected result: `{:ok, "000000"}`

For example, in Python:
[code]

[2017-06-28 18:33] bitwalker commented on #322
Timex pads the fractional seconds based on the precision of the `microsecond` field of the date/time struct - when converting a Date to a DateTime like in your example, the precision is going to be 0 (IIRC), and so only a single digit will be printed. If instead you created a DateTime with a precision of 6, you would get all 6 digits in the formatted output.

[2017-06-28 19:05] bitwalker commented on #318
Ah I see, I'll ensure that the parser caps the precision at 6 and add some tests for the roundtrip. Thanks for reporting that!

[2017-06-28 19:18] kaelumania commented on #318
Yeah, I would say the parser can return more that 6 digits, but the conversion to the standard elixir datetime struct should truncate at 6. iso8601 allows more than 6 digits therefore I would prefer the parser to parse all digits and the in to_datetime truncate.

[2017-06-28 19:32] bitwalker commented on #318
If the standard library API enforces a precision of <= 6, then we can't allow the parser to set a precision greater than that or we risk operations using the standard library failing because an invariant has been broken. Additionally, internally we assume that the greatest precision we can work with is microseconds, which would cause various date/time arithmetic to fail if the value of microsecond

[2017-06-28 21:24] narkq commented on #322
Thank you for the clarification!

I created this issue because I've got the impression from [the docs](https://github.com/bitwalker/timex/blob/fd8916adb82266719d47cd6ef201b84eca9aabcc/lib/format/datetime/formatters/strftime.ex#L77) that `%f` directive is always padded with zeroes to 6 characters regardless of the flags and modifiers.

But still, the precision for some reason doesn't affect the for

[2017-06-28 22:35] bitwalker commented on #322
Ah good catch! I'll ensure there are tests around that functionality, it should always obey the precision.

[2017-06-28 22:45] narkq commented on #322
If so, is there a preferred way to modify precision, or `Map.update!(time, :microsecond, fn({us, _}) -> {us, 6} end)` is the way to go?

[2017-06-28 22:59] narkq commented on #322
Although in my personal opinion width from the format string should have preference over precision.

[2017-06-29 10:33] CuihuaGu opened #324 "Error shifting time by months"
### Steps to reproduce

[code]

### Description of issue

- This will raise an erlang error because Timex shifts the datetime to **2017-2-29**.
- Maybe explicitly checking days in months and always shift by days.

### Also:

[code]
- Those two lines will results in different values (1 day difference), for the same reason, always shift months by total days might be better.

[2017-06-29 19:48] bitwalker commented on #324
It is expected that in the latter example that they do not shift to the same date - the order of shifts is not commutative. One reason for this is that some values do not have constant values (i.e. months/years), so we can't easily convert everything to the number of days. Additionally, depending on the order of your shifts, you may cross a timezone change between shifts, which affects the result.

[2017-06-29 19:48] #324 closed

[2017-06-29 21:42] #322 closed

[2017-06-29 21:43] bitwalker commented on #322
I've pushed a fix for this to master, could you give it a look and let me know if you see any cases I've missed? In general, the precision is preferred unless there is an explicit min width for padding, so `%f` on a precision of 0 will return an empty string, but `%03f` should return `"000"`.

[2017-07-03 01:26] bitwalker commented on #128
This is deprecated as the standard library now supports this, and there are other libraries handling calendar conversion.

[2017-07-03 01:26] #128 closed

[2017-07-03 01:26] #203 closed

[2017-07-04 11:40] mspanc commented on #318
I totally agree with @bitwalker. Is there any upstream issue in Elixir core or should I create one?

[2017-07-04 11:57] kaelumania commented on #318
@mspanc there is only this [discussion](https://github.com/elixir-lang/elixir/issues/4681#issuecomment-311587964). But Jose add some guards to `Time.new` (https://github.com/elixir-lang/elixir/blob/5fc7ee129ddfe534cdc6d9b1e2b5eb90b698c811/lib/elixir/lib/calendar/iso.ex#L277)

[2017-07-04 13:05] mspanc commented on #318
elixir-lang/elixir#6299 was refused, so I think it has to remain like it is with cutting precision to 6.

[2017-07-08 11:05] Pacodastre opened #335 "Minutes and seconds are always rendered as "00""
### Steps to reproduce

    iex(1)> Ecto.DateTime.utc() |> Timex.format!("{h24}:{m}")
    "11:00"
    iex(2)> Ecto.DateTime.utc() |> Timex.format!("%H:%M:%S", :strftime)
    "11:00:00"
    iex(3)> Ecto.DateTime.utc() |> Timex.format!("%R", :strftime)
    "11:00"

### Description of issue

- What are the expected results?

`Timex.format!` always returns `00` for both the seconds and the minutes, wh

[2017-07-09 15:42] alvinlindstam commented on #335
The issue seems to be that the formatter does not convert the Ecto.DateTime struct to a supported format before sending it to the formatting function. Ecto.DateTime structs keep the seconds and minutes with different keys than Elixir.DateTime structs (which is what the formatter expects).

I'll submit a PR. In the meantime, explicitly converting the Ecto.DateTime using Timex.to_naive_datetime befo

[2017-07-10 17:39] #335 closed

[2017-07-10 17:40] bitwalker commented on #335
I'll push a new release today. Thanks for reporting, and thanks to @alvinlindstam for the fix!

[2017-07-11 11:46] Pacodastre commented on #335
Thanks for fixing it, and for the work around.

[2017-07-11 11:50] TBK145 opened #339 "Implement Timex.Comparable for times"
I think it would be very useful for Timex to be able to compare times and we can give Time structs as arguments to functions like `between?`, `after?` and `before?`.

[2017-07-12 22:13] xavier opened #340 "RFC: Consider inclusive bounds for Timex.between?/3"
Right now `Timex.between?/3` is implemented by passing the lower and upper bounds as-is to `Timex.before?/2` and `Timex.after?/2` which are both bound exclusive (which is good... most of the time) 😄
This exclusive bound behaviour doesn't fit well with "between" semantics. For instance, the `BETWEEN` clause in SQL is inclusive and so are ranges in Elixir. I think that making the bounds inclusive wo

[2017-07-12 22:39] bitwalker commented on #340
I agree 100%, if you'd like to take a crack at it, that'd be great! As far as how to handle the fact that it's a breaking change, I think the best way to handle it is to introduce a new options parameter. The only option would be `inclusive: true | false`, with the default being `inclusive: false`. This gives us a deprecation cycle to change the default to `inclusive: true`, and either leave it at

[2017-07-13 06:05] xavier commented on #340
All of this sounds great, I'll get to work.

Btw, when you say `equals?/3`, are you sure you didn't mean `compare/3`?
That would have been my go-to function to implement inclusive bound checking.

[2017-07-13 19:42] bitwalker commented on #340
@xavier Yes, use `compare/3` :)

[2017-07-13 19:47] bitwalker commented on #339
Hmm, I suppose my question here would be what are the semantics if you compare a `Time` and a `DateTime`? There is no timezone information associated with a `Time`, so you can't know that the time contained in the `DateTime` is in the same timezone, and thus be able to reason about comparisons. I know it's a pathological case (why would anyone compare those two things), but that's part of how the

[2017-07-15 10:27] #340 closed

[2017-07-16 22:27] hayley opened #342 "Atlantic Daylight Time not recognized by Timex.parse"
Hi, I'm trying to parse some Canadian data, and if it's one of the major US timezones, it works just fine, but ADT is not recognized:

**works with CDT**:
[code]

**fails with ADT**:
[code]

Are only the timezone abbreviations used in the contiguous US supported? Because I noticed in random testing that Alaska (AKDT) and a random Australian timezone (ACST) don't work either.

[2017-07-17 00:36] bitwalker commented on #342
Yes, only POSIX abbreviations are present in the Olson timezone database for backwards compatibility. Outside of the U.S. those abbreviations are ambiguous (the same abbreviation is used in different locales), so we can't support them. I'm open to suggestions on how to support this situation, but up until now I haven't thought of a good way. You can parse the date/time without a timezone and then

[2017-07-17 09:24] TBK145 commented on #339
I was thinking about that as well, but figured that `Time` would never contain a timezone anyway, I never took `DateTime`s into account.
Would it be an option to only compare structs without timezones and structs that both have timezones, and return an error when only one of both has a timezone?

[2017-07-17 09:43] ejpcmac opened #343 "Inspect.DateTime conflict in Elixir 1.5.0-rc.1 with Timex 3.1.21"
[Elixir 1.5.0-rc.1](https://github.com/elixir-lang/elixir/releases/tag/v1.5.0-rc.1) now implements `Inspect` for `DateTime`.

When I compile a project using Timex 3.1.21 and Elixir 1.5.0-rc.1 I get the following warning:

[code]

Then, if I try to build a release with Distillery I get the following error:

[code]

Maybe `Inspect.DateTime` should not be present if we compile Timex with Elixir 1.5.0

[2017-07-17 10:55] alvinlindstam commented on #339
But Timex supports comparing datetimes with and without timezones today, right? By assuming utc?

[code]

However, my other concern would be the semantics when comparing times to datetimes (naive or not). Should `~N[2000-00-00 20:00:00.000]` compare before or after `~T[10:00:00.000]`? Only comparing times to other times seems reasonable, but then what is the upside of using Timex.compare instead o

[2017-07-17 14:51] bitwalker commented on #343
Yeah I'll need to conditionally implement it depending on the version of Elixir being used. Thanks for reporting! I'll get a fix pushed today.

[2017-07-17 14:57] #343 closed

[2017-07-17 14:57] bitwalker commented on #343
This is fixed in master, and staged for release in 3.1.22 - just waiting for CI :)

[2017-07-17 15:05] ejpcmac commented on #343
Thank you @bitwalker :) (And by the way, thanks for UTF-8 in conform too!)

[2017-07-17 16:43] bitwalker commented on #343
No problem, glad to help!

[2017-07-17 17:04] bitwalker commented on #339
It is something I'm considering, see my notes on such comparisons below.

It's probably more accurate to say that we don't assume UTC so much as we apply no timezone rules whatsoever to `NaiveDateTime` or `Date` - but one could make the argument that by converting either of them to the number of gregorian microseconds they represent, that we are implicitly assuming UTC for those inputs, and I won'

[2017-07-19 00:41] tomciopp opened #345 "Timex formatting 3.1.22 broken for Ecto.Date"
### Steps to reproduce
{:ok, date} = Ecto.Date.cast("1990-01-01")
Timex.format!(date, "{Mfull} {D}, {YYYY}")

Version 3.1.21:
"January 1, 1990"

Version 3.1.22
** (UndefinedFunctionError) function :error.month/1 is undefined (module :error is not available)
            :error.month({:error, :invalid_date})
    (timex) lib/format/datetime/formatter.ex:467: Timex.Format.DateTime.Formatter.format_tok

[2017-07-19 01:37] bitwalker commented on #345
It looks like the problem is not in the formatter but in the handling of non-Calendar types. I'll take a look tonight.

[2017-07-19 02:51] #339 closed

[2017-07-19 02:53] #345 closed

[2017-07-19 02:54] bitwalker commented on #345
This has been broken for quite some time apparently - I've fixed this and pushed it in 3.1.24. Thanks for reporting!

[2017-07-20 02:54] hayley commented on #342
Ah, that makes sense. I think I ran into this problem with Australian timezones and Ruby way back in the day, and in the case of their stuff, though I can't remember what I did as a workaround.

I don't know how I'd solve this in general. Maybe in the case of ambiguous abbreviations, it could be solved by adding an optional argument where you could specify the country? Like, "CDT" by default would

[2017-07-20 16:40] bitwalker commented on #342
It's a hack, but probably what I would end up doing as well. That said, what I would do instead of `ADT -> GMT-3` is something more like `ADT -> Canada/Central` or `ADT -> America/Toronto`. The latter two are examples of actual Olson locales you can use as timezone names in your string and will respect daylight savings time (if applicable) as well as any other locale-specific rules. It is always b

[2017-07-20 16:40] #342 closed

[2017-07-20 18:50] hayley commented on #342
Yeah, I considered trying to tie it to a location instead of the GMT+/- trick, but then I realized that, in the case of my Canadian data source, they're already handling specifying whether it's DST or not, so it would just add an extra step.

I will keep an eye out for that for future data sources though. Thanks again for your help!

[2017-07-27 18:20] dmarkow opened #348 "Granularity in compare and equal?"
### Steps to reproduce

[code]

### Description of issue

I only expected the first statement above to return true, however the 2nd/3rd also returned true. My assumption was the granularity above would be used to truncate the two dates and see if they were in the same calendar month. But instead, it's being treated as  "is it within a month?"

Is this by design? The documentation doesn't appear to

[2017-07-30 01:13] nicocaille opened #349 "Timex.AmbiguousDateTime error"
Hello,
i have a date string that i am first converting to a NaiveDatetime

i tried with two date_string different, one is working, the other one is bringing an error i can't figure out

date_string |> NaiveDateTime.from_iso8601! |> Timex.local

[code]

If i get a date_string one hour later, i am getting the following error:

[code]

after running a few more tests, it seems that the time slot 23:00

[2017-07-30 15:14] alvinlindstam commented on #349
The ambiguous datetimes are described in the docs. In your case, this is an example of [*Times with more than one valid zone period*](https://hexdocs.pm/timex/Timex.AmbiguousDateTime.html#module-ambiguity-2-times-with-more-than-one-valid-zone-period). Given datetimes between "2017-02-18 23:00:00" and "2017-02-19 00:00:00" in Sao Paulo time, there is two possible datetimes since the clock is revers

[2017-07-31 21:53] adamnbowen opened #350 "Week durations are not recognized"
Timex.Duration doesn't seem to parse weeks in given durations.  "M" and other identifiers work as expected, but "W" does not:

[code]
As an example of another implementation of week parsing support, you can view my snippet running in with the node library iso8601-duration here: https://runkit.com/adamnbowen/597fa5d955331200125dbe02

I'm not quite sure where it's listed in the actual specification,